<?xml version="1.0"?>
<!--
/**
 * IDEALIAGroup srl
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Open Software License (OSL 3.0)
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/osl-3.0.php
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * to info@idealiagroup.com so we can send you a copy immediately.
 *
 * @category   MSP
 * @package    MSP_Common
 * @copyright  Copyright (c) 2013 IDEALIAGroup srl (http://www.idealiagroup.com)
 * @license    http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */
-->
<config>
	<modules>
		<MSP_Common>
			<version>1.0.0</version>
		</MSP_Common>
	</modules>
	
	<global>
		<blocks>
			<msp_common>
				<class>MSP_Common_Block</class>
			</msp_common>
		</blocks>
	
		<helpers>
			<msp_common>
				<class>MSP_Common_Helper</class>
			</msp_common>
        </helpers>
		
		<models>
			<msp_common>
				<class>MSP_Common_Model</class>
			</msp_common>
        </models>
	</global>
	
	<adminhtml>
		<events>
			<controller_action_predispatch>
				<observers>
					<msp_common>
						<type>singleton</type>
						<class>msp_common/observer</class>
						<method>onControllerActionPredispatch</method>
					</msp_common>
				</observers>
			</controller_action_predispatch>
		</events>
		
		<layout>
			<updates>
				<msp_common>
					<file>msp_common.xml</file>
				</msp_common>
			</updates>
		</layout>
    </adminhtml>
	
	<default>
		<msp_common>
			<rss>
				<url>blog.magespecialist.it/category/annunci-estensioni/feed/</url>
			</rss>
		</msp_common>
	</default>
</config>
