#pdc_instagram_list_img img {
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  float: left;
  margin: 1%;
  padding: 1%;
  width: 18%;
}
#pdc_instagram_list_img {
  float: left;
  margin: 0 0 10px;
  width: 100%;
}
#pdc_ins_action {
  float: left;
  margin: 0 0 10px;
  width: 100%;
}
#pdc_ins_action li {
  background: #f2f2f2 none repeat scroll 0 0;
  border: 1px solid #ccc;
  cursor: pointer;
  float: left;
  font-size: 20px;
  font-weight: bold;
  line-height: 30px;
  text-align: center;
  width: 50%;
}
#pdc_ins_myphotos {
  float: left;
  width: 100%;
}