<?xml version="1.0"?>
<config>
    <modules>
        <Mirasvit_Advd>
            <version>1.0.0</version>
        </Mirasvit_Advd>
    </modules>
    <global>
        <blocks>
            <advd>
                <class>Mirasvit_Advd_Block</class>
            </advd>
        </blocks>
        <models>
            <advd>
                <class>Mirasvit_Advd_Model</class>
                <resourceModel>advd_resource</resourceModel>
            </advd>
            <advd_resource>
                <class>Mirasvit_Advd_Model_Resource</class>
                <entities>
                    <notification>
                        <table>m_advd_notification</table>
                    </notification>
                </entities>
            </advd_resource>
        </models>
        <helpers>
            <advd>
                <class>Mirasvit_Advd_Helper</class>
            </advd>
        </helpers>
        <resources>
            <mst_advd_setup>
                <setup>
                    <module>Mirasvit_Advd</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </mst_advd_setup>
        </resources>
        <template>
            <email>
                <advd_notification_template translate="label" module="advd">
                    <label>Notification</label>
                    <file>mst_advd/notification.html</file>
                    <type>html</type>
                </advd_notification_template>
            </email>
        </template>
    </global>
    <admin>
        <routers>
            <adminhtml>
				<args>
					<modules>
						<advdadmin after="Mage_Adminhtml">Mirasvit_Advd_Adminhtml</advdadmin>
					</modules>
				</args>
			</adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <translate>
            <modules>
                <Mirasvit_Advd>
                    <files>
                        <default>Mirasvit_Advd.csv</default>
                    </files>
                </Mirasvit_Advd>
            </modules>
        </translate>
        <layout>
            <updates>
                <advd>
                    <file>mst_advd.xml</file>
                </advd>
            </updates>
        </layout>
        <events>
            <controller_action_predispatch>
                <observers>
                    <advd>
                        <type>singleton</type>
                        <class>Mirasvit_Advd_Model_Observer</class>
                        <method>onControllerActionPredispatch</method>
                    </advd>
                </observers>
            </controller_action_predispatch>
        </events>
    </adminhtml>
    <crontab>
        <jobs>
            <advd_notification_job>
                <schedule>
                    <cron_expr>*/10 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>advd/observer::notificationJob</model>
                </run>
            </advd_notification_job>
        </jobs>
    </crontab>
    <default>
    </default>
</config>