<?xml version="1.0"?>
<config>
    <modules>
        <Mirasvit_EmailSmtp>
            <version>1.0.0</version>
        </Mirasvit_EmailSmtp>
    </modules>
    <global>
        <blocks>
            <emailsmtp>
                <class>Mirasvit_EmailSmtp_Block</class>
            </emailsmtp>
        </blocks>
        <models>
            <emailsmtp>
                <class>Mirasvit_EmailSmtp_Model</class>
                <resourceModel>emailsmtp_resource</resourceModel>
            </emailsmtp>
            <core>
                <rewrite>
                    <email_template>Mirasvit_EmailSmtp_Model_Email_Template</email_template>
                </rewrite>
            </core>
            <emailsmtp_resource>
                <class>Mirasvit_EmailSmtp_Model_Resource</class>
                <entities>
                    <mail>
                        <table>m_emailsmtp_mail</table>
                    </mail>
                </entities>
            </emailsmtp_resource>
        </models>
        <helpers>
            <emailsmtp>
                <class>Mirasvit_EmailSmtp_Helper</class>
            </emailsmtp>
        </helpers>
        <resources>
            <emailsmtp_setup>
                <setup>
                    <module>Mirasvit_EmailSmtp</module>
                </setup>
            </emailsmtp_setup>
        </resources>
    </global>
    <frontend>
        <layout>
            <updates>
                <emailsmtp>
                    <file>mst_emailsmtp.xml</file>
                </emailsmtp>
            </updates>
        </layout>
        <translate>
            <modules>
                <Mirasvit_EmailSmtp>
                    <files>
                        <default>Mirasvit_EmailSmtp.csv</default>
                    </files>
                </Mirasvit_EmailSmtp>
            </modules>
        </translate>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
				<args>
					<modules>
						<emailsmtp after="Mage_Adminhtml">Mirasvit_EmailSmtp_Adminhtml</emailsmtp>
					</modules>
				</args>
			</adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <translate>
            <modules>
                <Mirasvit_EmailSmtp>
                    <files>
                        <default>Mirasvit_EmailSmtp.csv</default>
                    </files>
                </Mirasvit_EmailSmtp>
            </modules>
        </translate>
        <layout>
            <updates>
                <emailsmtp>
                    <file>mst_emailsmtp.xml</file>
                </emailsmtp>
            </updates>
        </layout>
    </adminhtml>
    <crontab>
        <jobs>
            <email_clear_old>
                <schedule>
                    <cron_expr>0 3 * * *</cron_expr>
                </schedule>
                <run>
                    <model>emailsmtp/observer::clearOldData</model>
                </run>
            </email_clear_old>
        </jobs>
    </crontab>
    <default>
        <emailsmtp>
            <log>
                <email_logging>1</email_logging>
                <logsdelete>1</logsdelete>
                <smtpmaillogsdays>30</smtpmaillogsdays>
            </log>
        </emailsmtp>
    </default>
</config>