<?xml version="1.0"?>
<config>
    <modules>
        <Mirasvit_Advr>
            <version>1.0.3</version>
        </Mirasvit_Advr>
    </modules>
    <global>
        <blocks>
            <advr>
                <class>Mirasvit_Advr_Block</class>
            </advr>
        </blocks>
        <models>
            <advr>
                <class>Mirasvit_Advr_Model</class>
                <resourceModel>advr_resource</resourceModel>
            </advr>
            <advr_resource>
                <class>Mirasvit_Advr_Model_Resource</class>
                <entities>
                    <postcode>
                        <table>m_advr_postcode</table>
                    </postcode>
                </entities>
            </advr_resource>
        </models>
        <helpers>
            <advr>
                <class>Mirasvit_Advr_Helper</class>
            </advr>
        </helpers>
        <resources>
            <mst_advr_setup>
                <setup>
                    <module>Mirasvit_Advr</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </mst_advr_setup>
        </resources>
        <template>
            <email>
                <advr_dashboard_template translate="label" module="advr">
                    <label>Dashboard</label>
                    <file>mst_advr/dashboard.html</file>
                    <type>html</type>
                </advr_dashboard_template>
            </email>
        </template>
        <events>
            <adminhtml_controller_action_predispatch_start>
                <observers>
                    <advr>
                        <type>singleton</type>
                        <class>Mirasvit_Advr_Model_Observer</class>
                        <method>onControllerActionPredispatch</method>
                    </advr>
                </observers>
            </adminhtml_controller_action_predispatch_start>
        </events>
    </global>
    <frontend>
        <layout>
            <updates>
                <advr>
                    <file>mst_advr.xml</file>
                </advr>
            </updates>
        </layout>
        <translate>
            <modules>
                <Mirasvit_Advr>
                    <files>
                        <default>Mirasvit_Advr.csv</default>
                    </files>
                </Mirasvit_Advr>
            </modules>
        </translate>
        <routers>
            <advr>
                <use>standard</use>
                <args>
                    <module>Mirasvit_Advr</module>
                    <frontName>advr</frontName>
                </args>
            </advr>
        </routers>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
				<args>
					<modules>
						<advradmin after="Mage_Adminhtml">Mirasvit_Advr_Adminhtml</advradmin>
					</modules>
				</args>
			</adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <translate>
            <modules>
                <Mirasvit_Advr>
                    <files>
                        <default>Mirasvit_Advr.csv</default>
                    </files>
                </Mirasvit_Advr>
            </modules>
        </translate>
        <layout>
            <updates>
                <advr>
                    <file>mst_advr.xml</file>
                </advr>
            </updates>
        </layout>
    </adminhtml>
    <crontab>
        <jobs>
            <advr_geo_copy_unknown>
                <schedule>
                    <cron_expr>0 0 * * *</cron_expr>
                </schedule>
                <run>
                    <model>advr/observer::geoCopyUnknown</model>
                </run>
            </advr_geo_copy_unknown>

            <advr_geo_update>
                <schedule>
                    <cron_expr>1 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>advr/observer::geoUpdate</model>
                </run>
            </advr_geo_update>
        </jobs>
    </crontab>
    <default>
        <advr>
            <report>
                <process_orders>complete</process_orders>
            </report>
        </advr>
    </default>
</config>