<?xml version="1.0"?>
<config>
    <modules>
        <Raveinfosys_Deleteorder>
            <version>0.1.0</version>
        </Raveinfosys_Deleteorder>
    </modules>
    <frontend>
        <routers>
            <deleteorder>
                <use>standard</use>
                <args>
                    <module>Raveinfosys_Deleteorder</module>
                    <frontName>deleteorder</frontName>
                </args>
            </deleteorder>
        </routers>
        <layout>
            <updates>
                <deleteorder>
                    <file>deleteorder.xml</file>
                </deleteorder>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<deleteorder>
				<use>admin</use>
				<args>
					<module>Raveinfosys_Deleteorder</module>
					<frontName>deleteorder</frontName>
				</args>
			</deleteorder>
        </routers>
    </admin>
    <adminhtml>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<Raveinfosys_Deleteorder>
							<title>Deleteorder Module</title>
							<sort_order>10</sort_order>
						</Raveinfosys_Deleteorder>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<deleteorder>
					<file>deleteorder.xml</file>
				</deleteorder>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <deleteorder>
                <class>Raveinfosys_Deleteorder_Model</class>
                <resourceModel>deleteorder_mysql4</resourceModel>
            </deleteorder>
            <deleteorder_mysql4>
                <class>Raveinfosys_Deleteorder_Model_Mysql4</class>
                <entities>
                    <deleteorder>
                        <table>deleteorder</table>
                    </deleteorder>
                </entities>
            </deleteorder_mysql4>
        </models>
        <resources>
            <deleteorder_setup>
                <setup>
                    <module>Raveinfosys_Deleteorder</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </deleteorder_setup>
            <deleteorder_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </deleteorder_write>
            <deleteorder_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </deleteorder_read>
        </resources>
        <blocks>
		 <adminhtml>
            <rewrite>
                <sales_order_grid>Raveinfosys_Deleteorder_Block_Adminhtml_Sales_Order_Grid</sales_order_grid>
            </rewrite>		 
           <rewrite>
                <sales_order_view>Raveinfosys_Deleteorder_Block_Adminhtml_Sales_Order_View</sales_order_view>
            </rewrite>
        </adminhtml>
            <deleteorder>
                <class>Raveinfosys_Deleteorder_Block</class>
            </deleteorder>
        </blocks>
        <helpers>
            <deleteorder>
                <class>Raveinfosys_Deleteorder_Helper</class>
            </deleteorder>
        </helpers>
    </global>
</config>