
.checkout-heading {
	border-bottom:3px solid #eee;
	padding-bottom: 10px;
}

.checkout-form-headings {
	padding-bottom: 0;
}

.checkout-form-headings h1 {
	margin-bottom: 0;
	text-transform: uppercase;
}

.checkout-form-headings h1 .skewed {
	background: #000;
	color: #fff;
	font-size: 15px;
	transform: skewX(-18deg);
	display: inline-block;
	min-width: 214px;
    padding: 4px 17px;	
}

.checkout-form-headings h1 .re-skewed {
	transform: skewX(18deg);
	display: inline-block;
}

.checkout-form .form-group label {
	display: block;
	font-weight: normal;
}

.checkout-form .form-group input, .checkout-form .form-group select {
	display: block;
	border: 1px solid #eee;
	outline: none;
	box-shadow: none;
	border-radius:0; 
	height: 32px;
	/*min-width:247px;*/ 
	color: #000;
	left: 0;
	bottom:0; 
	width: 100%;
	margin: 0;
	font-size: 14px;
} 

.checkout-form .form-group {
	margin-bottom: 20px;
}

.checkout-form .form-group a {
	margin-bottom: 20px;
	max-width:260px;
	width: 100%;
	background: #000;
	color: #fff;
	text-transform: uppercase;
	text-decoration: none;
	display: block;
	font-weight: 8px; 
	padding: 15px 0;
	margin-top: 6px;
	text-align: center;
}

.checkout-form .form-group span {
	background: url(../images/checkoutpage/custom-dd.png) no-repeat;
	width: 30px;
	height: 32px;
	position: absolute;
	right: 15px;
    bottom: 1px !important;
    z-index: 0;
    pointer-events: none;
}

.checkbox-label {
	margin-top: 3px;
	margin-left: 7px;
}

.bordered-div {
	height: 1px;
	background: #eee;
}

.check-create {
	margin-bottom: 20px;
}

.shiping-add {
	margin-top: 10px;
}

.ship-to-address {
	margin-top: 20px;
}

.ship-to-address h1 {
	font-size: 20px;
}

.select-paymt-methd {
	text-transform: uppercase;
	font-size: 16px;
	margin-top: 10px;
}

.payment-heading {
	margin-bottom: 10px;
}

.credit-card {
	background: #9c9c9c;
	border-radius: 7px;
	position: relative;
	min-height: 160px;
}

.card-sctn-black {
	height: 22px;
	background: #000;
	margin-top: 20px;
	margin-bottom: 10px;
}

.credit-card label {
	color: #fff;
}

.credit-card select {
	height: 26px !important;
} 

.credit-card span.fake-select {
	background-image: url(../images/checkoutpage/pink-dd-arrow.png);
	right: 10px;
    top: 21px;
} 

.credit-card .form-group .cc-no {
	width: 78%;
	margin-right: 2%;
	float: left;
	background: #fff;
	height: 26px;
}

.credit-card .form-group .ccv {
	width: 20%;
	background: #fff;
	height: 26px;
}

.centered-card label {
	margin-right: 10px;
	margin-top: 4px;
	color: #000;
}

.card-date {
	position: relative;
	margin-right: 10px;
}

.credit-card .card-date .fake-select {
	right: -5px;
	top: 0;
}

.credit-card .card-date select {
	padding-right: 25px;
}

.credit-card input.bg-white {
	background: #fff;
	height: 26px;
}

.option-alternate {
	margin-top: 20px;
	margin-bottom: 20px;
}

.select-paymt-methd.transform-none {
	text-transform: none;
}

a.alignleft.checkout-items {
	margin-left: 20px;
}

.cart-table-area.checkout-table td:first-child {
	padding-left: 0;
}

.cart-table-area.checkout-table tr {
	border-bottom: 3px solid #eee;
}

.cart-table-area.checkout-table table {
	border-top:none;
}

.span2.pull-left.no-padding {
	padding-left: 0 !important;
}

.enter-coupon {
	position: relative;
	left: 20px
}

.enter-coupon label {
	position: absolute;
	top: -7px;
	left: 0;
}

.enter-coupon input {
	height: 20px;
	font-size: 10px;
	font-weight: bold;
	margin-top: 12px;
}

.apply-coupon {
	position: relative;
	left:36px;
	top: 12px;
}

.cart-btn-area.checkout-payment-total .btn-holder .apply-coupon a {
	background: #000;
    border: medium none;
    color: #fff;
    display: block;
    font-size: 12px;
    font-weight: normal;
    line-height: 1.3;
    padding: 2px 20px;
    text-align: center;
    text-decoration: none;
    width: 100%;
}

.cart-btn-area.checkout-payment-total {
	padding-bottom: 5px;
}

.checkout-submit input {
	font-size: 16px;
    font-weight: bold;
    height: auto;
    padding: 10px 100px;
    width: auto;
    background: #f16167;
    color: #fff;
    border: none;
}

.checkout-submit input:hover {
	background-color: #000;
	color: #fff
}

.checkout-submit {
	margin-bottom: 100px;
	border-bottom: 1px solid #eee
}


.cart-btn-area.checkout-payment-total .sub-total, .cart-btn-area.checkout-payment-total .net-total {
	width: 35.7%;
}

.cart-btn-area.checkout-payment-total .btn-holder {
	width: 100%;
	max-width: none;
	overflow: visible;
}

.cart-btn-area.checkout-payment-total .btn-holder a .span1, .cart-btn-area.checkout-payment-total .btn-holder a:first-child .span1 {
	width: 99%
}

.validation-advice { color: red; font-size: 10px;}
.onestepcheckout-index-success .button {
    background: black none repeat scroll 0 0;
    border: medium none;
    color: #fff;
    padding: 10px 20px;
}

/*....... Integration-Starts.........*/

.form-header {
	border-bottom: 5px solid #eee;
	padding-bottom:12px;
	 color: #222;
    font: 34px/36px "Roboto Condensed",Helvetica,Arial,sans-serif;
    margin: 0 0 10px;
    text-transform: uppercase;
}

.login-sec {
	border-top:none;
}

.login-sec.form-holder .form-frame, .reg-form.form-frame,.reg-form.form-frame .signup-form  {
	width:100%;
}

.right-panel.form-holder {
	padding-left:0;
	padding-right:0;
}

.no-padding-left {
	padding-left:0 !important;
}

.no-padding-right {
	padding-right:0 !important;
}

.no-margin {
	margin:0 !important;
}

.form-holder.login-sec.forgot-sec {
	padding-top:0;
} 

.signup-form button[type="submit"] {
	background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 1px solid #959595;
    color: #000;
    cursor: pointer;
    display: block;
    font: bold 12px/16px "Roboto Condensed",Helvetica,Arial,sans-serif;
    height: 26px;
    margin: 10px 0;
    padding: 2px 5px;
    width: 100%;
}

#login-form .submit-holder.btn-holder {
	margin-top:40px;
}

.form-holder.login-sec {
	padding-bottom:20px;
	padding-top:20px;
}

#footer .list li {
	padding-left:0;
}

#footer .list li:before {
	display:none;
}

.fme_layered_attribute.children, .col.heading-area.col-lg-12.col-md-12.col-sm-12.col-xs-12 {
	display:none;
}

.subscribe-form.footer-form #advice-required-entry-newsletter {
	float:left;
	top:2px;
	color:#ef4f61;
} 

.subscribe-form.footer-form .button.newslettersubscribe {
	position:absolute;
	right:0;
	width:5%;
}

ul.form-list.newsltr-manage {
	padding-left:0;
	padding-top:50px;
}

.form-list.newsltr-manage input {
	margin-right:7px;
}

.form-list.newsltr-manage label {
	padding-top:2px;
}

.newsletter-sbmt button {
	background: #ef4f61;
    border: medium none;
    color: #fff;
    cursor: pointer;
    font-family: "Roboto Condensed",Helvetica,Arial,sans-serif;
    height: 32px;
	font-weight:bold;
	font-size:20px;
    margin: 0;
    padding: 10px 55px;
	line-height:0;
}

.newsletter-sbmt {
	padding-bottom:300px;
}

.marg-right {
	margin-right:4px;
}

form select#country {
	bottom:15px;
	height:auto;
	border:1px solid #ddd;
}

.scaffold-form .customer-name .row {
	margin-left:0;
	margin-right:0;
}

#advice-validate-cc-type-ccsave_cc_number, #advice-required-entry-ccsave_cc_cid, #advice-required-entry-ccsave_expiration_yr, #advice-required-entry-ccsave_expiration {
	position: absolute;
	bottom:-17px;
}

#advice-required-entry-ccsave_cc_cid {
	right:3px;
}

#advice-required-entry-ccsave_expiration_yr {
	right:-28px;
}

.validation-advice {
    color: #d01901 !important;
    font-size: 11px !important;
}

#checkout-review-table tr {
	width:32%;
	display:inline-block;
}

#checkout-review-table tr td.last:after {
	border-right: 2px solid #f3f3f3;
    bottom: 12px;
    content: "";
    right: 0;
    position: absolute;
    top: 12px;
}

#checkout-review-table tr td.a-center {
	padding:0 10px !important;
}

.click2print {
	text-decoration:underline;
}

.success-continue {
	margin-bottom:200px;
}

.footer-form input[type="text"], .footer-form input.email {
	width:76% !important;
}

.subscribe-form.footer-form .button.newslettersubscribe {
	right:16px !important;
}

#footer .right-area {
	width:240px !important;
}

.product-details.col-xs-7 {
	padding:0
}

.my-wishlist .product-area {
	margin-bottom:20px;
}

img.alignleft.img-responsive {
	margin-top:0;
	margin-right:0;
}

.tab-content2 .col-xs-4 .cart-area {
	float: none;
    margin: 0;
    width: auto;
}

.tab-content2 .product-area .col-xs-4 {
	margin-right:0;
	padding-right:0;
}