<!--@subject Take a look at {{var customer.name}}'s wishlist @-->
<!--@vars
{"store url=\"\"":"Store Url",
"var logo_url":"Email Logo Image Url",
"var logo_alt":"Email Logo Image Alt",
"var message":"Wishlist Message",
"var items":"Wishlist Items"}
@-->
<!--@styles
@-->

{{template config_path="design/email/header"}}
{{inlinecss file="email-inline.css"}}
<h1 style="font-size: 18px; font-weight: 700; font-family: 'Roboto Condensed', sans-serif; color: #fff;">CREO </h1>
</td><!-- header End -->
</tr>
<tr>
<td colspan="3">
    <h1>Hey, take a look at my wishlist from {{var store.getFrontendName()}}.</h1>
    <p>{{var message}}</p>
    <p>{{var items}}<br>
    {{depend salable}}</p>
    <p><strong><a href="{{var addAllLink}}">Add all items to shopping cart</a></strong> |
    {{/depend}}
    <strong><a href="{{var viewOnSiteLink}}">View all wishlist items</a></strong></p>
</td>
</tr>           
{{template config_path="design/email/footer"}}
