<tr style="width:100%;">
  <td  style="border-bottom: 6px solid #e1e1e1;width: 32%;vertical-align: top; text-align: center;">
    <h2 style="border: 2px solid rgb(225, 225, 225); text-align: center; text-transform: uppercase;
    color: rgb(0, 0, 0);font-family: 'Roboto Condensed', sans-serif; font-weight: bold; font-size: 18px; padding: 5px 0; width:100%;display:block;"> talk to us</h2>
    <ul class="list1" style="list-style:none;">
      <li style="margin-bottom: 10px;"><a href="#" style="font-family: 'Roboto Condensed', sans-serif;font-size: 17px;color: #000; text-decoration: none;"><img style="display:inline-block;padding:0 10px;" src="{{skin url="images/icon1.png" _area='frontend'}}" style="padding-right: 5px;">{{var store_phone}}</a></li>
      <li style="margin-bottom: 10px;"><a href="#" style="font-family: 'Roboto Condensed', sans-serif;font-size: 17px;color: #000; text-decoration: none; "><img style="display:inline-block;padding:0 10px;" src="{{skin url="images/icon2.png" _area='frontend'}}" style="padding-right: 5px;">talktous@creoroom.com</a></li>
      <li style="margin-bottom: 10px;"><a href="#" style="font-family: 'Roboto Condensed', sans-serif;font-size: 17px;color: #000; text-decoration: none; "><img style="display:inline-block;padding:0 10px;" src="{{skin url="images/icon3.png" _area='frontend'}}" style="padding-right: 5px;">Saturday to Thursday</a></li>
      <li style="margin-bottom: 10px;"><a href="#" style=" font-family: 'Roboto Condensed', sans-serif;font-size: 17px;color: #000; text-decoration: none;"><img style="display:inline-block;padding:0 10px;" src="{{skin url="images/icon4.png" _area='frontend'}}" style="padding-right: 5px;">{{var store_hours}}</a></li>
    </ul></td>
    <td style="border-bottom: 6px solid #e1e1e1;width:33%;margin:0 1%; vertical-align: top; text-align: center;">
      <h2  style="border: 2px solid rgb(225, 225, 225); text-align: center; text-transform: uppercase;color: rgb(0, 0, 0);font-family: 'Roboto Condensed', sans-serif; font-weight: bold; font-size: 18px; padding: 5px 0; width:100%;display:block;">FIND US ON MOBILE</h2>
      <ul class="list2" style=" list-style:none;margin-top: 10px;">
        <li><a href="#"><img src="{{skin url="images/app.png" _area='frontend'}}" style="margin-bottom: 10px;"></a></li>
        <li><a href="#"><img src="{{skin url="images/googleapp.png" _area='frontend'}}" style="margin-bottom: 10px;"></a></li>
      </ul>
    </td>
    <td  style="border-bottom: 6px solid #e1e1e1;width: 32%; vertical-align: top; text-align: center;">
      <h2  style="border: 2px solid rgb(225, 225, 225); text-align: center; text-transform: uppercase;
      color: rgb(0, 0, 0);font-family: 'Roboto Condensed', sans-serif; font-weight: bold; font-size: 18px; padding: 5px 0; width:100%;display:block;">SOCIALIZE WITH US</h2>
      <a href="https://www.facebook.com/CREOROOM"><img src="{{skin url="images/fb.png" _area='frontend'}}" style="padding:5px;margin-top:10%;"></a> <a href="https://twitter.com/creo_room/"><img src="{{skin url="images/tweet.png" _area='frontend'}}" style="padding:5px;margin-top:10%;"></a> <a href="https://instagram.com/creo_room/"><img src="{{skin url="images/inta.png" _area='frontend'}}" style="padding:5px;margin-top:10%;"></a> <a href="https://www.pinterest.com/creo_room/"><img src="{{skin url="images/pin.png" _area='frontend'}}" style="padding:5px;margin-top:10%;"></a>
    </td>
  </tr>
  <tr>
    <td style="width:33%; vertical-align: top; text-align: center;">
      <h3 style="text-align: center;text-transform: capitalize;color: #ef4f61;font-family: 'Roboto Condensed', sans-serif;font-weight: normal;font-size: 17px;text-decoration: underline;">Customize Your Products</h3>
      <p style="font-family: 'Roboto Condensed', sans-serif;font-weight: normal;font-size: 16px;padding: 0 20px;color: rgb(0, 0, 0);">Get Creative and customize your own
      product within our site. Be your own designer.</p></td>
      <td style="width:33%; vertical-align: top; text-align: center;">
        <h3 style="text-align: center;text-transform: capitalize;color: #ef4f61;font-family: 'Roboto Condensed', sans-serif;font-weight: normal;font-size: 17px;text-decoration: underline;">Free Express Delivery</h3>
        <p style="font-family: 'Roboto Condensed', sans-serif;font-weight: normal;font-size: 16px;padding: 0 20px;color: rgb(0, 0, 0);}">Free Shippig within the UAE. <br/>
        Get your order within 2 Days</p></td>
        <td style="width:33%; vertical-align: top; text-align: center;">
          <h3 style="text-align: center;text-transform: capitalize;color: #ef4f61;font-family: 'Roboto Condensed', sans-serif;font-weight: normal;font-size: 17px;text-decoration: underline;">Free Exchange</h3>
          <p style="font-family: 'Roboto Condensed', sans-serif;font-weight: normal;font-size: 16px;padding: 0 20px;color: rgb(0, 0, 0);}">You didn’t like it? Exchange it
          within 3 days.</p>
        </td>
      </tr>
      <tr style="width:100%;">
        <td style="margin-top: 0;border-bottom: 1px solid #c2c2c2;padding-top: 0; width:33%; vertical-align: top; text-align: center;">
          <h3 style="text-align: center;text-transform: capitalize;color: #ef4f61;font-family: 'Roboto Condensed', sans-serif;font-weight: normal;font-size: 17px;text-decoration: underline;">Largest Designed Collection</h3>
          <p style="font-family: 'Roboto Condensed', sans-serif;font-weight: normal;font-size: 16px;padding: 0 20px;color: rgb(0, 0, 0);
            }">Shop more than 1000 customized designs
          to fit your crazy personality</p></td>
          <td style="margin-top: 0;padding-top: 0;border-bottom: 1px solid #c2c2c2; width:33%; vertical-align: top; text-align: center;">
            <h3 style="text-align: center;text-transform: capitalize;color: #ef4f61;font-family: 'Roboto Condensed', sans-serif;font-weight: normal;font-size: 17px;text-decoration: underline;">Easy and Secure Payment</h3>
            <p style="font-family: 'Roboto Condensed', sans-serif;font-weight: normal;font-size: 16px;padding: 0 20px;color: rgb(0, 0, 0);
            }">Credit Card and Cash On Delivery </p></td>
            <td style="margin-top: 0;border-bottom: 1px solid #c2c2c2;padding-top: 0; width:33%; vertical-align: top; text-align: center;">
              <h3 style="text-align: center;text-transform: capitalize;color: #ef4f61;font-family: 'Roboto Condensed', sans-serif;font-weight: normal;font-size: 17px;text-decoration: underline;">We deliver Everywhere</h3>
              <p style="font-family: 'Roboto Condensed', sans-serif;font-weight: normal;font-size: 16px;padding: 0 20px;color: rgb(0, 0, 0);}">We deliver to UAE, and all GCC Countries. We also deliver to Turkey, Egypt, Lebanon and Jordan
              </p></td>
            </tr>
            <tr width="100%" style="width:100%;">
              <td style="margin-top: 0;padding-top: 0;vertical-align: top; text-align: center;" colspan="3">
                <p style="font-family: 'Roboto Condensed', sans-serif; font-size: 12px; padding: 0 20px; color: rgb(0, 0, 0); text-align: center; margin-bottom: 15px;">
                  *Free Delivery in United Arab Emirates.
                  Flate rate delivery of 50 AED for GCC Countries.
                  CREO ships to you across the GCC (United Arab Emirates, Saudi Arabia, Kuwait, Qatar, Oman and Bahrain).<br/>
                  We do our best to do next day deliver within the UAE, and we deliver within 2-3 days.
                We accept credit card payments and Cash on Delivery. </p>
                <p style="font-family: 'Roboto Condensed', sans-serif; font-size: 12px; padding: 0 20px; color: rgb(0, 0, 0); text-align: center; margin-bottom: 25px;">We are hear to help you, drop us a live at <a href="mailto:talktous@creoroom.com">talktous@creoroom.com</a> or give us a call {{var store_phone}}(international) <br/>
                Imprint: Creative Room Gift Items LLC P.O. Box: 34135 - Bur Dubai
                We hope you find this message useful. <br/>
              You're receiving this e-mail because you signed up for CREO newsletter. </p></td>
            </tr>
    </table>
    <h5 class="closing-text">Thank you, {{var store.getFrontendName()}}!</h5>
</body></html>