/* Font using : Proxima Nova */
@font-face {
    font-family: 'Proxima_Nova_Regular';
    src: url('../fonts/proximanovasoft-regular-webfont.eot');
    src: url('../fonts/proximanovasoft-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/proximanovasoft-regular-webfont.woff2') format('woff2'), url('../fonts/proximanovasoft-regular-webfont.woff') format('woff'), url('../fonts/proximanovasoft-regular-webfont.ttf') format('truetype'), url('../fonts/proximanovasoft-regular-webfont.svg#Proxima_Nova_Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}
.pdc-wrapper h1,
.pdc-wrapper h2,
.pdc-wrapper h3,
.pdc-wrapper h4,
.pdc-wrapper h5,
.pdc-wrapper h6,
.pdc-wrapper p,
.pdc-wrapper a,
.pdc-wrapper input,
.pdc-wrapper select { font-family: Proxima_Nova_Regular }
.pdc-wrapper p { line-height: 25px }
/* PDC MAIN STYLE */
.pdc-wrapper {
    display: table;
    height: 100%;
    left: 0;
    margin: 0;
    overflow: hidden;
    padding: 0;
    /* position: absolute; */
    right: 0;
    top: 0;
    width: 100%;
    z-index: 999;
    /* background: url("../images/tiny_grid.png") repeat fixed center top #ffffff; */
    background: rgba(0, 0, 0, 0.5) none repeat scroll 0 0;
}
.pdc-container {
    display: table;
    margin: 0 auto;
    padding: 50px 10px 80px;
    text-align: center;
}
.pdc-center {
    margin: 0 auto;
    text-align: left;
    width: 100%;
}
/* == PDC TOPBAR == */
.pdc-topbar {
    background: rgba(0, 0, 0,0.7);
    border-radius: 5px;
    /* display: none; */
    padding: 10px;
}
.pdp-style .pdc-topbar {display:none;}
.topbar-content {
    display: table;
    width: 100%;
}
h3.item-title {
    color: #ffffff;
    float: left;
    font-family: Proxima_Nova_Regular;
    font-size: 1.2em;
    font-weight: normal;
    line-height: 30px;
    margin: 0;
    padding: 0;
    text-align: left;
    text-transform: uppercase;
}
.topbar-buttons {
    float: right;
    text-align: right;
    margin: 0px;
    padding: 0px;
    list-style: none;
    display: inline-block;
}
.topbar-buttons li { display: inline-block }
.topbar-buttons li button:hover { color: #fff }
.topbar-buttons li button {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 0 none;
    color: rgba(255, 255, 255, 0.7);
    font-family: Proxima_Nova_Regular;
    font-size: 14px;
    line-height: 30px;
    margin: 0;
    padding: 0 0.35em;
    text-transform: capitalize;
    transition: all 0.3s ease 0s;
}
.topbar-buttons > button:hover { color: #fff }
/* == PDC DESIGN AREA == */
.pdc-design-area {
    background: none repeat scroll 0 0 #ffffff;
    border: medium none;
    clear: both;
    display: table;
    padding-top: 0;
    width: 100%;
	margin:20px 0 0;
}
/** -- Design Area Left(Sides tab, sharing, Edit Tools, Main Image) **/
/* .pdc-design-area-left {
    float: left;
    margin: 0;
    max-width: 77%;
    padding: 0;
    width: auto;
} */
/*** -- Sides -- ***/
.product-detail .tab-sides li.pdp_side_item_content a{
	border: 1px solid #b7b7b7;
	box-shadow: none;
	display: block;
	color:#000;
	width:100%;
	margin:0;
}
.product-detail .tab-sides li.pdp_side_item_content.active a, .product-detail .tab-sides li.pdp_side_item_content a:hover{
	background:#f16a79;
	border-color:#f16a79;
	color:#000;
}
.pdp-main-des{}
.pdp-main-des h5.title{
	background:rgba(0, 0, 0, 0) url("../images/bg-divi.png") repeat-x scroll left bottom;
	font-size: 23px;
	font-weight: 600;
	padding: 0 0 10px;
}
.pdp-main-des .wrap_pdp_design{}
.sides-tab {
    display: table;
    margin-top: 10px;
    width: 100%;
}
.sides-tab.hide-thumbnail img { display: none!important }
.tab-sides {
    margin: 0px;
    padding: 0px;
}
.tab-sides > li {
    display: inline-block;
	margin: 0;
	position: relative;
	width: 49%;
	z-index:0;
}
.tab-sides > li:last-child{float:right;}
.tab-sides > li > a {
    background: transparent none repeat scroll 0 0;
	border-radius: 0;
	color: rgba(0, 0, 0, 0.7);
	display: block;
	font-family: roboto condensed;
	font-size: 18px;
	font-weight: 600;
	margin-bottom: 0;
	margin-right: 2px;
	padding: 5px 0;
	position: relative;
	text-align: center;
	text-transform: uppercase;
}
.tab-sides > li > a:focus {
    outline: medium none;
    text-decoration: none;
}
.tab-sides > li > a:active,
.tab-sides > li.active > a,
.tab-sides > li > a:hover {
    background: none repeat scroll 0 0 #ffffff;
    border: medium none;
    border-radius: 0;
    box-shadow: 0 -1px 3px #999999;
    color: #333333;
    text-decoration: none;
    z-index: 1;
}
.tab-sides  li.active a,
.tab-sides  li.active a:after { z-index: 999 }
.tab-sides  li.active a:after,
.tab-sides  li a:hover:after {
    background: #fff;
    z-index: 1;
}
/*** -- Sharing -- ***/
.tab-sharing { float: right }
.tab-sharing > li { margin: 0px }
.tab-sharing > li > a {
    background: none repeat scroll 0 0 #00a0c6;
    border-radius: 0 5px 0 0;
    -webkit-border-radius: 0 5px 0 0;
    box-shadow: 2px -1px 2px 0 rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 2px -1px 2px 0 rgba(0, 0, 0, 0.3);
    color: #ffffff;
    cursor: pointer;
    font-family: "Proxima_Nova_Regular";
    font-size: 1em;
    line-height: 20px;
    margin-right: 0;
    padding: 6px 10px 6px 0;
    text-transform: uppercase;
    z-index: 5;
}
.tab-sharing > li > a:before {
    background: none repeat scroll 0 0 #00a0c6;
    border-radius: 5px 0 0;
    -webkit-border-radius: 5px 0 0;
    bottom: 0;
    box-shadow: -2px -1px 2px 0 rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: -2px -1px 2px 0 rgba(0, 0, 0, 0.3);
    content: "";
    display: block;
    left: -15px;
    position: absolute;
    top: 0;
    -moz-transform: skewX(-25deg);
    -webkit-transform: skewX(-25deg);
    -o-transform: skewX(-25deg);
    -ms-transform: skewX(-25deg);
    transform: skewX(-25deg);
    width: 28px;
    z-index: -1;
}
.tab-sharing > li > a:hover,
.tab-sharing > li > a:hover:before {
    background: none repeat scroll 0 0 #00a0c6;
    color: #fff;
}
.tab-sharing > li > a:after { display: none }
.share-preview { }
.share-preview .share-thumbnails { text-align: center }
.share-preview .share-thumbnails li { display: inline }
.share-preview .share-thumbnails li img {
    border: 1px solid #ccc;
    margin: 5px;
    padding: 5px;
    width: 200px;
}
/*** -- Design View -- ***/
.pdc-design-view {
    clear: both;
    display: inline-block;
    position: relative;
    width: 100%;
    z-index: 9;
    background: #fff;
}
.pdc-main.design-area {
    background: #ffffff none repeat scroll 0 0;
    display: inline-block;
    margin-top: 55px;
    max-height: 990px;
    max-width: 990px;
    /* min-width: 510px; */
    overflow: auto;
    position: relative;
    transition: all 0.3s ease 0s;
	width:100%;
}
.pdc-main.design-area.expandColor {
    transition: all 0.3s ease 0s;
    margin-top: 80px;
}
/*** -- Edit Tools -- ***/
.edit-tools {
    display: block !important;
    position: absolute !important;
    text-align: right;
    top: 5px;\
	left:0;
}
.edit-tools.active { opacity: 1 }
.tools-panel { }
.drag-panel {
    background: none repeat scroll 0 0 #00a0c6;
    border: 1px solid #00a0c6;
    color: #ffffff;
    cursor: move;
    font-family: "proxima_nova_regular";
    font-size: 10px;
    line-height: 25px;
    text-align: center;
}
.drag-panel:focus,
.drag-panel:active {
    border: 1px solid #666;
    color: #fff;
}
.tools-list {
    background: #ffffff none repeat scroll 0 0;
    border: 0 solid #00a0c6;
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
.pdc-design-view .buttons {
    position: absolute;
    top: 5px;
    right: 0;
}
.pdc-design-view .buttons a.btn-danger{color:#000; font-weight:bold;}
.pdp-style .tabset.tabset1 li.active a, .pdp-style .tabset.tabset1 a:hover {
  background: #000 none repeat scroll 0 0;
  color: #fff;
  text-decoration: none;
}
.pdp-style .tabset.tabset1 li:first-child a{margin-left:-5px;}
.pdc-design-view .buttons a{
	border-color: #f16a79;
	margin: 0 0 0 4px !important;
	border-radius:0;
}
.head-title h2{
	border-bottom: 5px solid #eee;
margin: 0 0 20px;
padding: 0 0 10px;
}
.zoomcanvas > .btn {
    font-size: 18px;
    font-weight: normal;
    padding: 4px 8px;
}
.tools-list li {
    float: left;
    margin: 0;
    padding: 0;
    position: relative;
}
.tools-list li.colorfilling { margin-left: 10px }
.tools-list li.colorfilling button { padding: 0px }
.tools-list li.colorfilling button i { font-size: 34px }
/* Color picker */
.custom_color > label {
    float: left;
    font-family: "proxima_nova_regular";
    font-size: 14px;
    font-weight: normal;
    line-height: 40px;
    padding: 0 10px;
}
#pdc_color_picker {
    float: left;
    margin-left: 10px;
    margin-top: 5px;
}
/* Alignment MOVE */
#move_item {
    background: #ffffff none repeat scroll 0 0;
    border-radius: 3px;
    display: none;
    margin: 0;
    padding: 10px;
    position: absolute;
    width: 98px;
    transition: all 0.3s ease;
}
#move_item.active { display: table }
#move_item span {
    float: left;
    font-size: 0;
    height: 20px;
    position: relative;
    width: 25px;
    cursor: pointer;
}
#move_item span::before {
    border: 3px solid #999999;
    content: "";
    position: absolute;
}
#move_item span:hover::before,
#move_item span:hover::after {
    background-color: #D02A2A;
    border-color: #D02A2A;
}
/* Move Top Left */
.m_tl::before {
    left: 0;
    width: 15px;
}
.m_tl::after {
    border: 3px solid #999999;
    content: "";
    height: 15px;
    left: 0;
    position: absolute;
}
/* Move Top Center */
.m_tc::before {
    left: 5px;
    width: 15px;
}
/* Move Top Right */
.m_tr::before {
    right: 0;
    width: 15px;
}
.m_tr::after {
    border: 3px solid #999999;
    content: "";
    height: 15px;
    position: absolute;
    right: 0;
    top: 0;
}
/* Move Center Left */
.m_cl::before {
    height: 15px;
    left: 0;
    top: 3px;
    width: 0;
}
/* Move Center Center */
.m_cc::before {
    background: none repeat scroll 0 0 #999999;
    border-width: 2px;
    height: 15px;
    left: 5px;
    top: 3px;
    width: 15px;
}
/* Move Center Right */
.m_cr::before {
    height: 15px;
    right: 0;
    top: 3px;
    width: 0;
}
/* Move Bottom Left */
.m_bl::before {
    bottom: 0;
    height: 0;
    left: 0;
    width: 15px;
}
.m_bl::after {
    border: 3px solid #999999;
    bottom: 0;
    content: "";
    height: 15px;
    left: 0;
    position: absolute;
}
/* Move Bottom Center */
.m_bc::before {
    bottom: 0;
    height: 0;
    left: 5px;
    width: 15px;
}
/* Move Bottom Right */
.m_br::before {
    bottom: 0;
    height: 0;
    right: 0;
    width: 15px;
}
.m_br::after {
    border: 3px solid #999999;
    bottom: 0;
    content: "";
    height: 15px;
    position: absolute;
    right: 0;
}
.tools-list li button {
    background: #fff;
    border: 1px solid #b7b7b7;
    border-radius: 0;
    display: block;
    font-family: Proxima_Nova_Regular;
    font-size: 18px;
    letter-spacing: 0;
    line-height: 21px;
    padding: 8px;
    position: relative;
    text-align: left;
    text-transform: capitalize;
    transition: all 300ms ease 0s;
    vertical-align: middle;
    white-space: nowrap;
	margin:0 4px 0 0;
}
.tools-list li.first button { }
.tools-list li.last button {  }
.tools-list li button i {
    float: left;
    font-size: 18px;
}
.tools-list li:hover { background: #fff }
.tools-list li button:hover,
.tools-list li button.selected { color: #ff0000 }
.tools-list li button.pdc-highlight-remove:hover {
    color: red;
    border-color: rgba(255, 0, 0, 0.3);
}
/** -- Opacity Slider -- **/
.opacity_tool {
    background: #ffffff none repeat scroll 0 0;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    display: none;
    left: 0;
    padding: 10px;
    position: absolute;
    top: 40px;
    width: 88px;
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
}
.opacity_tool.expanded { display: block }
#opacitySlider { height: 200px }
#opacity-input {
    line-height: 30px;
    margin-top: 10px;
    text-align: center;
    width: 100%;
}
/** Color Filling Tool **/
.color_fill_tool {
	background: #ffffff none repeat scroll 0 0;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    display: none;
    padding: 0px;
    position: absolute;
    left: 100%;
    top: 20%;
    width: 200px;
}
.color_fill_tool.active { display: block ; bottom:auto;}
.color_fill_tool.expanded { display: block }
.txt_font_size {
  border: 1px solid #ccc;
  float: left;
  margin: 0 0 10px;
  padding: 5px;
}
.txt_font_size .pdc_range_input {
  cursor: pointer;
  float: left;
  margin: 7px 0 0;
  width: 150px;
}
.txt_font_size label {
  float: left;
  margin: 0 10px 10px 0;
  width: 100%;
}
.txt_font_size .pdc_number_input {
  float: left;
  height: 30px;
  margin: 0 0 10px 10px;
  width: 50px;
}
.color_fill_list {
    display: block;
    list-style: outside none none;
    margin: 0;
    overflow: auto;
    padding: 0;
    max-height: 200px;
	background:#fff;
}
.color_fill_list li {
    display: inline-block;
    float: left;
    margin: 4px 2px;
    padding: 0;
    vertical-align: top;
    border: transparent solid 1px;
}
.color_fill_list li a:focus { outline: none }
.color_fill_list li a {
    display: block;
    font-size: 30px;
    height: 30px;
    width: 30px;
    line-height: 1;
    text-decoration: none;
    border: none;
    cursor: pointer;
}
.color_fill_list li:hover,
.color_fill_list li.selected {
    border-color: rgba(0, 160, 198, 0.3);
    color: rgb(0, 160, 198);
}
.color_fill_list li a span { }
.output_with_picker {
    border-top: 1px dashed rgb(204, 204, 204);
    clear: both;
    display: block;
    margin-top: 10px;
    padding-top: 10px;
    width: 100%;
}
.output_with_picker .input_picker {
    float: right;
    height: 30px;
    line-height: 30px;
    width: 85px;
}
.output_with_picker .btn-picker,
.output_with_picker .btn-color-list {
    float: left;
    height: 30px;
    margin: 0;
    padding: 0;
    width: 30px;
}
#pdcColorPicker {
    width: 100%;
    height: 200px;
    clear: both;
    display: none;
}
#pdcColorPicker .result {
    background: none repeat scroll 0 0 rgb(127, 127, 127);
    border: 2px solid rgb(255, 255, 255);
    -webkit-box-shadow: 0 0 10px;
    box-shadow: 0 0 10px;
    color: rgb(127, 127, 127);
    display: inline-block;
    height: 70px;
    margin: 70px 0 0;
    vertical-align: top;
    width: 35px;
}
#pRed,
#pGreen,
#pBlue {
    margin: 10px;
    display: inline-block;
    height: 200px;
}
#pRed { background: #c0392b }
#pGreen { background: #27ae60 }
#pBlue { background: #2980b9 }
/** -- Design Area Right (Tab tools) **/
.pdc-design-area-right {
    /*float: right;*/
    /* max-width: 20%; */
    padding-bottom: 30px;
    max-width: 100%;
    min-height: 250px;
}
.tools-tab { background: none repeat scroll 0 0 rgb(254, 254, 254) }
#tools-button {
    display: block;
    list-style: outside none none;
    margin: 0;
    overflow: hidden;
    padding: 0;
}
#tools-button li {
    display: table;
    float: left;
    text-align: center;
    vertical-align: middle;
    width: 32%;
    cursor: pointer;
	margin:0 2% 0 0;
}
#tools-button li:last-child{margin:0;}
#tools-button li a {
    border: 1px solid #b7b7b7;
	color: rgb(25, 25, 25);
	display: block;
	font-family: "Roboto Condensed",sans-serif;
	font-size: 16px;
	line-height: 30px;
	text-transform: uppercase;
	width: 100%;
	display:block;
}
#tools-button li a span {
    clear: both;
    float: left;
    font-size: 1.5em;
    line-height: 1.1;
    width: 100%;
}
#tools-button li a:hover { text-decoration: none }
#tools-button li a:focus {
    outline: none;
    text-decoration: none;
}
#tools-button li.active {  }
#tools-button li.active a, #tools-button li a:hover { 
	background: #f16a79 none repeat scroll 0 0;
	border-color: #f16a79;
	color: #000;
 }
.tool-tab-content {
    padding: 20px 0;
    text-align: left;
    display: block;
}
/* Add Photo Library */
.selectPhotoCategory {
    border: 1px solid rgba(102, 102, 102, 0.5);
    height: 32px;
    line-height: 32px;
    margin: 0 0 10px;
    width: 100%;
	bottom:0;
	top:0;
	left:0;
	text-align:center;
	font-size:16px;
	
	}
div.select-photo-category{position:relative;}
.select-photo-category .fake-select{
	background: rgba(0, 0, 0, 0) url("../images/select-bg.png") no-repeat scroll 0 0;
	height: 32px;
	pointer-events: none;
	position: absolute;
	right: 0;
	width: 30px;
	z-index: 0;
	top:0;
}
.selected_category_photo  .item-color-list li {
    padding: 2px;
    margin: 0 8px 8px 0;
    cursor: pointer;
}
.selected_category_photo {
    display: block;
    width: 100%;
    clear: both;
    max-height: 230px;
}
#icon_list{display:block; overflow:auto; max-height:128px;}
.product_colors {
    display: block;
    float: left;
    margin-left: 0;
    padding: 0;
    position: relative;
    text-align: left;
}
.product_colors > button {
    background: none repeat scroll 0 0 #ffffff;
    border-color: #999999;
    border-image: none;
    border-radius: 0;
    border-style: solid solid none;
    border-width: 1px 1px 0;
    color: #000000;
    font-family: Proxima_Nova_Regular;
    font-size: 20px;
    height: 40px;
    margin-right: 5px;
    padding: 0;
    transition: all 0.3s ease 0s;
    width: 40px;
}
.product_colors > button:hover { color: #333 }
.item-color-list li a img {
    width: 50px;
    height: 50px;
}
.get_photo_upload{}
.get_photo_upload button:hover{background:#f16a79;}
.get_photo_upload .upload_photo_btn {
    background: transparent none repeat scroll 0 0;
	border: 1px solid #b7b7b7;
	font-family: roboto condensed;
	font-size: 18px;
	font-weight: normal;
	line-height: 30px;
	margin: 10px 0 0;
	text-align: center;
	text-transform: uppercase;
	width: 100%;
}
.get_photo_upload .fb_photo_btn i {float:right; font-size:28px; line-height:30px;}
.get_photo_upload .instagram_btn i {float:right; line-height:30px; margin:0 4px 0 0;}
.instagram_btn, .fb_photo_btn { background: #f16a79; }
.modal-content { border-radius: 0 }
/* Add Text library */
.txt-buttons {
    clear: both;
    display: block;
    padding: 5px 0 10px;
    width: 100%;
}
.txt-buttons button:hover,
.txt-buttons button.active { color: #f16a79;}
.txt-buttons button {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 0 none;
    color: rgba(102, 102, 102, 0.3);
    font-size: 18px;
    margin: 0;
    padding: 0;
}
button.pdc-panorama-fisheye {
    border-top: 2px solid #cccccc;
    font-size: 16px;
}
.txt-buttons .alignment { float: right }
.txt-textarea {
    clear: both;
    display: block;
    width: 100%;
}
.txt-textarea textarea {
    font-family: "proxima_nova_regular";
    font-size: 15px;
    margin-bottom: 10px;
    padding: 5px;
    resize: vertical;
    width: 100%;
}
.addText-btn {
    background: none repeat scroll 0 0 rgb(0, 160, 198);
    border: 0 none;
    color: rgb(255, 255, 255);
    font-family: "proxima_nova_regular";
    font-size: 15px;
    font-weight: bold;
    line-height: 35px;
    margin: 0 0 10px;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
}
.txt-library {
    clear: both;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
}
.txt-library > button {
    background: transparent none repeat scroll 0 0;
border: 1px solid #b7b7b7;
font-family: roboto condensed;
font-size: 15px;
line-height: 30px;
text-transform: uppercase;
width: 100%;
}
.txt-library > button:hover, #pdc_ctext_convert:hover{background:#f16a79;}
.txt-library [class^="pdc-"],
.txt-library [class*=" pdc-"] {
    float: right;
    font-size: 27px;
    line-height: 35px;
}
.txt-fonts {
    clear: both;
    display: block;
    width: 100%;
}
.txt-fonts > h3 {
    background: none repeat scroll 0 0 rgb(204, 204, 204);
    font-size: 18px;
    font-weight: normal;
    height: 35px;
    line-height: 35px;
    margin: 0 0 10px;
    padding: 0 10px;
	color:#000;
	font-family: roboto condensed;
}
.item-font-list {
    list-style: outside none none;
    margin: 0;
    max-height: 150px;
    padding: 0;
    text-align: left;
    width: 100%;
	overflow:auto;  
}
.upload-info ul, .upload-info{display:block; overflow:hidden;}
.item-font-list li:hover,
.item-font-list li.active {
    background: #f16a79;
    color: #fff;
    cursor: pointer;
}
.item-font-list li.active  a,
.item-font-list li:hover  a {
    color: #fff;
    text-decoration: none;
}
.item-font-list li  a { color: #666 }
.item-font-list li {
    border-bottom: 1px dashed rgba(102, 102, 102, 0.3);
    font-size: 14px;
    line-height: 30px;
    margin: 0;
    padding: 0 5px;
	width:100%;
}
/* Quotes Library */
.pdc_text_list { max-height: 300px }
.pdc_text_list li {
    font-family: "proxima_nova_regular";
    font-size: 15px;
    line-height: 25px;
    list-style: outside none none;
}
.pdc_text_list li:hover {
    color: #00A0C6;
    cursor: pointer;
}
#pdc_search_text {
    font-size: 14px;
    padding: 5px 10px;
}
/* Layers Tab */
#layerTab h4 a:focus,
#layerTab h4 a:hover {
    outline: none;
    text-decoration: none;
}
#layerTab h4 a { color: rgb(0, 160, 198) }
#layerTab h4 a.collapsed {
    color: #666;
    font-family: "Proxima_Nova_Regular";
    font-size: 16px;
    font-weight: normal;
}
#layerTab .list-group {
    margin-bottom: 5px;
    padding-bottom: 0;
}
#layerTab .list-group-item {
    border-left-width: 0;
    border-radius: 0;
    border-right-width: 0;
    display: block;
    float: left;
    height: 35px;
    line-height: 35px;
    padding: 0 10px;
    position: relative;
    text-align: left;
    width: 100%;
}
#layerTab .list-group-item span.pdc-highlight-remove {
    cursor: pointer;
    float: right;
    line-height: 35px;
    position: relative;
    text-align: right;
}
#layerTab .list-group-item:last-child { border-bottom-color: rgba(0, 0, 0, 0) }
#layerTab .panel-body { padding: 0 }
.tool-tab-pane { }
.tool-tab-pane.active { }
/* == PDC HIDDEN POPUP == */
/* Switch Right Control Panel(Add Text, Photo) */
.open-right-panel {
    background: none repeat scroll 0 0 rgba(0, 0, 0, .8);
    border-radius: 50%;
    bottom: 10px;
    height: 60px;
    padding: 5px 0 0 5px;
    position: fixed;
    left: 1em;
    width: 60px;
    z-index: 9999;
    display: none;
}
.open-right-panel span {
    border: 1px solid rgb(255, 255, 255);
    border-radius: 0;
    color: rgb(255, 255, 255);
    float: left;
    font-size: 18px;
    font-weight: bold;
    height: 25px;
    line-height: 25px;
    text-align: center;
    width: 25px;
}
#lists_img_upload .glyphicon{left: -4px; top:3px;}
button:focus,
.btn:focus { outline: none!important }
.open-right-panel span.pdc-image {
    border-left-color: rgba(0, 0, 0, 0);
    border-top-color: rgba(0, 0, 0, 0);
}
.open-right-panel span.pdc-layers {
    border-bottom-color: rgba(0, 0, 0, 0);
    border-left-color: rgba(0, 0, 0, 0);
}
.open-right-panel span.btn-status {
    border-bottom-color: rgba(0, 0, 0, 0);
    border-right-color: rgba(0, 0, 0, 0);
}
.open-right-panel span.pdc-text-format {
    border-right-color: rgba(0, 0, 0, 0);
    border-top-color: rgba(0, 0, 0, 0);
}
.hidden-popups { }
.hidden-popups .form-inline .form-group:last-child{float:right;}
#search_shape{height:34px; line-height:34px;}
#shape_category{bottom:0;}
.file-upload .glyphicon{left:0; top:1px;}
#instagramPhotos .modal-content,
#facebookPhotos .modal-content,
#shapeLibrary .modal-content,
#textLibrary .modal-content,
.hidden-popups .modal-content {padding:2%;}
.hidden-popups .modal-header, .hidden-popups .modal-body {
  display: block;
  overflow: hidden;
}
.add-more{display:block; overflow:hidden;}
.add-more button.btn{
	background: #000 none repeat scroll 0 0;
	border-radius: 0;
	color: #fff;
	float: right;
	font-family: roboto condensed;
	font-size: 14px;
	margin: 10px 0 0;
	padding: 2px 10px;
	text-transform: uppercase;
}
.add-more button.btn:hover{background:#f16a79;}
/* Swap Item color thumbnails */
.item-color-list {
    display: inline-block;
    margin: 0;
    padding: 0;
}
.item-color-list li.selected,
.item-color-list li:hover { border: 1px solid #00A0C6 }
.pdc_design_color.item-color-list > li {
    height: 36px;
    width: 36px;
	border-color:#b7b7b7;
}
.pdc_design_color.item-color-list > li.active{border-color:#f16a79;}
.pdc_design_color.item-color-list > li  span{left:0; top:4px;}
.product-detail .pdp-style .text-area {
  overflow: visible;
}
.pdc_design_color li.first {
    display: table;
    line-height: 34px;
    text-align: center;
    vertical-align: middle;
	background:transparent!important;
}
.tab-content .item-color-list li a {
	border: medium none;
	margin: 0;
	width: 100%;
}
.tab-content .item-color-list li a:hover{border:none;}
.item-color-list li {
    border: 1px solid #f16a79;
    border-radius: 0;
    cursor: pointer;
    display: block;
    float: left;
    margin: 0 1px;
    padding: 0;
}
.item-color-list li a { }
.item-color-list li img {
    width: 35px;
    height: 35px;
}
/* == RESPONSIVE ON LANDSCAPE OR IPAD SCREEN (SCREEN WIDTH ~660px) */
@media only screen and (max-width: 700px) { 
    .pdc-container { padding: 20px 0 50px }
    .pdc-center {
        position: relative;
        transition: all 0.3s ease 0s;
        /* width: 44em;*/
    }
    .pdc-design-area-left {
        left: 0;
        transition: all 0.3s ease;
    }
    .pdc-topbar { padding: 10px 5px }
    .pdc-design-area-left.design-are-to-left {
        left: -210px;
        transition: all 0.3s ease 0s;
    }
    .pdc-main.design-area {
        max-height: 100%;
        max-width: 100%;
        padding: 10px 0;
        width: 500px;
    }
    /* .edit-tools {

          left: 40em;

        } */
    .pdc-design-area-left {
        /* width: 44em;*/
        max-width: 100%;
        position: relative;
        transition: all 0.3s ease 0s;
    }
    .pdc-design-area-right {
        position: absolute;
        transition: all 0.3s ease;
        right: 210px;
    }
    .pdc-design-area-right.right-to-open {
        right: 0;
        transition: all 0.3s ease;
        z-index: 999;
    }
    .open-right-panel { display: block }
    a.active-panel .btn-status {
        color: rgb(255, 0, 0);
        text-shadow: 1px 1px 1px rgb(0, 0, 0);
    }
    .tools-list li { padding: 2px 0 }
    .tools-list li button { height: 40px }
}
/* == CUSTOM CSS HERE == */
.btn-file {
    overflow: hidden;
    position: relative;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}
/** == Upload Modal == **/
#lists_img_upload {
    max-height: 250px;
    overflow-x: hidden;
    /**overflow-y: scroll;**/;;
}
#uploadPhotos img { cursor: pointer ; max-height:80px;}
#uploadPhotos .upload-info .best-result h4,
#uploadPhotos .upload-info .other-formats h4 { font-weight: bold }
#uploadPhotos .upload-info .best-result .formats li,
#uploadPhotos .upload-info .other-formats .formats li {
    background: steelblue none repeat scroll 0 0;
    color: white;
    display: inline-block;
    font-weight: bold;
    padding: 10px;
}
.jcrop-holder .jcrop-keymgr { display: none !important }
.preview-image-before-save { height: 430px }
.preview-image-before-save li img { width: 200px }
/** == SHAPE PLUGIN == **/
.shape-list { margin: 10px 0 }
.shape-list li {
    border: 1px solid #ccc;
    display: inline-block;
    margin: 2px;
    padding: 4px;
}
.shape-list li:hover { border: 1px solid #006699 }
.shape-list li img {
    width: 100px;
    cursor: pointer;
}
#shapeLibrary .add-more { text-align: center }
/** == LOADING PROGESS == **/
.pdploading {
    background: rgba(0, 0, 0, 0) url("../images/overlay.png") repeat scroll 0 0;
    height: 100%;
    left: 0;
    opacity: 0.8;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999999;
}
.pdploading span::after {
    background: rgb(128, 210, 153) none repeat scroll 0 0;
    border-radius: 100% 0;
    bottom: 0;
    color: rgb(255, 255, 255);
    content: "Please wait...";
    font-size: 12px;
    height: 15px;
    left: 0;
    line-height: 15px;
    position: absolute;
    text-indent: 0;
    width: 100%;
    z-index: 1;
}
.pdploading span {
    background: rgb(51, 153, 204) url("../images/loading.gif") no-repeat scroll center 18px;
    border-radius: 100% 0;
    display: block;
    font-size: 20px;
    height: 70px;
    line-height: 30px;
    margin: 20% auto;
    position: relative;
    text-align: center;
    text-indent: -9999px;
    width: 140px;
    z-index: 9999;
}

.pdp-style .carousel-creo.carousel3{width:50%; margin:0;}
.product-detail .pdp-style .btn-holder button:first-child{ max-width: 78.5%;} 

/* Style For Backend */
.pdc_backend .sides-tab{width:auto;}
.pdc_backend .pdc-design-area-left{float:left; width:48%;}
.pdc_backend .pdc-design-area-right{float:right; width:50%;}
.pdc_backend .tab-sides > li{width:auto;}
.pdc_backend .tab-sides > li > a{font-size:14px; padding:5px 10px;}

.color_fill_tool.active.is-pointer-down{}
/** Style for pdc thumbnail **/
.tabs-cont{}
.pdc-side-thumbnail{
	display: block;
	height: 110px;
	margin: 10px 0;
	overflow: hidden;
}
.pdc-side-thumbnail > ul {
  display: block;
  float: left;
  overflow: hidden;
  width: 100%;
}
.pdc-side-thumbnail li {
	display: inline-block;
	margin: 2px 0;
	width: 20%;
}
.pdc-side-thumbnail li a{
	cursor: pointer;
}
.pdc-side-thumbnail li a:hover img,
.pdc-side-thumbnail li a.active img
{
	border:1px solid #b7b7b7;
}
.pdc-side-thumbnail li .pdc-thumbnail {
}
.pdc-side-thumbnail li .pdc-thumbnail img {
	position: absolute;
	max-width: 18%;
	position: absolute;
	max-height:110px;
}



