<?xml version="1.0"?>
<config>
    <modules>
        <VES_Core>
            <version>1.0.0.0</version>
        </VES_Core>
    </modules>
   	<admin>
       <routers>
			<adminhtml>
				<args>
					<modules>
						<ves_core before="Mage_Adminhtml">VES_Core</ves_core>
					</modules>
				</args>
			</adminhtml>
       </routers>
   	</admin>
    <adminhtml>
    	<menu>
    		<system>
    			<children>
					<vnecoms>
						<title>Vnecoms Licenses</title>
						<sort_order>19</sort_order>               
						<action>adminhtml/vnecoms_extension/index</action>
					</vnecoms>
				</children>
			</system>
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<system>
                            <children>
                                <config>
                                    <children>
                                        <ves_core translate="title" module="ves_core">
                                            <title>Vnecoms Licenses</title>
                                        </ves_core>
                                    </children>
                                </config>
                            </children>
                        </system>
					</children>
				</admin>
			</resources>
		</acl>
		<events>
            <controller_action_predispatch>
                <observers>
                    <adminnotification>
                        <class>ves_core/observer</class>
                        <method>controller_action_predispatch</method>
                    </adminnotification>
                </observers>
            </controller_action_predispatch>
        </events>
    </adminhtml>

    <global>
    	<events>
    		<controller_action_layout_generate_blocks_after>
    			<observers>
	                <ves_core>
	                    <class>ves_core/observer</class>
	                    <method>controller_action_layout_generate_blocks_after</method>
	                </ves_core>
	            </observers>
    		</controller_action_layout_generate_blocks_after>
    		<core_block_abstract_to_html_after>
    			<observers>
	                <ves_core>
	                    <class>ves_core/observer</class>
	                    <method>core_block_abstract_to_html_after</method>
	                </ves_core>
	            </observers>
    		</core_block_abstract_to_html_after>
    	</events>
        <blocks>
            <ves_core>
                <class>VES_Core_Block</class>
            </ves_core>
        </blocks>
        <models>
            <ves_core>
                <class>VES_Core_Model</class>
                <resourceModel>ves_core_mysql4</resourceModel>
            </ves_core>
            <ves_core_mysql4>
                <class>VES_Core_Model_Mysql4</class>
                <entities>
                    <key>
                        <table>ves_core_licensekey</table>
                    </key>
                </entities>
            </ves_core_mysql4>
        </models>
        <resources>
            <ves_core_setup>
                <setup>
                    <module>VES_Core</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </ves_core_setup>
            <ves_core_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </ves_core_write>
            <ves_core_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </ves_core_read>
        </resources>
        <helpers>
            <ves_core>
                <class>VES_Core_Helper</class>
            </ves_core>
        </helpers>
    </global>
    
    <default>
    	<ves_core>
    		<config>
    			<min_char>2</min_char>
    			<show_product>10</show_product>
    			<suggest_window_width>300</suggest_window_width>
    			<show_image>1</show_image>
    			<thumbnail_height>75</thumbnail_height>
    			<thumbnail_width>75</thumbnail_width>
    			<query_delay>1000</query_delay>
    			<result_header>Most relevant matches shown. Click Search for more items</result_header>
    			<result_footer></result_footer>
    			<desc_char></desc_char>
    			<new_window>0</new_window>
    		</config>
    	</ves_core>
    </default>
</config>