<?xml version="1.0"?>
<config>
    <modules>
        <Bubble_AttributeOptionPro>
            <version>1.1.1</version>
        </Bubble_AttributeOptionPro>
    </modules>
    <global>
        <resources>
            <bubble_aop_setup>
                <setup>
                    <module>Bubble_AttributeOptionPro</module>
                    <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
            </bubble_aop_setup>
        </resources>
        <models>
            <bubble_aop>
                <class>Bubble_AttributeOptionPro_Model</class>
            </bubble_aop>
            <catalog_resource>
                <rewrite>
                    <attribute>Bubble_AttributeOptionPro_Model_Resource_Catalog_Attribute</attribute>
                </rewrite>
            </catalog_resource>
            <eav>
                <rewrite>
                    <entity_attribute_source_table>Bubble_AttributeOptionPro_Model_Eav_Entity_Attribute_Source_Table</entity_attribute_source_table>
                </rewrite>
            </eav>
            <eav_resource>
                <rewrite>
                    <entity_attribute_option>Bubble_AttributeOptionPro_Model_Resource_Eav_Entity_Attribute_Option</entity_attribute_option>
                </rewrite>
            </eav_resource>
        </models>
        <blocks>
            <bubble_aop>
                <class>Bubble_AttributeOptionPro_Block</class>
            </bubble_aop>
            <adminhtml>
                <rewrite>
                    <catalog_product_attribute_edit_tab_options>Bubble_AttributeOptionPro_Block_Adminhtml_Catalog_Product_Attribute_Edit_Tab_Options</catalog_product_attribute_edit_tab_options>
                </rewrite>
            </adminhtml>
        </blocks>
        <helpers>
            <bubble_aop>
                <class>Bubble_AttributeOptionPro_Helper</class>
            </bubble_aop>
            <cms>
                <rewrite>
                    <wysiwyg_images>Bubble_AttributeOptionPro_Helper_Cms_Wysiwyg_Images</wysiwyg_images>
                </rewrite>
            </cms>
        </helpers>
    </global>
    <frontend>
        <layout>
            <updates>
                <bubble_aop>
                    <file>bubble/aop.xml</file>
                </bubble_aop>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Bubble_AttributeOptionPro before="Mage_Adminhtml">Bubble_AttributeOptionPro</Bubble_AttributeOptionPro>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <events>
            <controller_action_layout_render_before_adminhtml_catalog_product_attribute_edit>
                <observers>
                    <bubble_aop>
                        <class>bubble_aop/observer</class>
                        <method>updateLayout</method>
                    </bubble_aop>
                </observers>
            </controller_action_layout_render_before_adminhtml_catalog_product_attribute_edit>
            <adminhtml_catalog_product_attribute_edit_prepare_form>
                <observers>
                    <bubble_aop>
                        <class>bubble_aop/observer</class>
                        <method>eavAttributeEditFormInit</method>
                    </bubble_aop>
                </observers>
            </adminhtml_catalog_product_attribute_edit_prepare_form>
        </events>
        <translate>
            <modules>
                <Bubble_AttributeOptionPro>
                    <files>
                        <default>Bubble_AttributeOptionPro.csv</default>
                    </files>
                </Bubble_AttributeOptionPro>
            </modules>
        </translate>
    </adminhtml>
    <default>
        <bubble_aop>
            <general>
                <enable_additional_image>0</enable_additional_image>
                <hide_stores/>
            </general>
        </bubble_aop>
    </default>
</config>