<?xml version="1.0" ?>
<!--
/**
 * System configuration file
 *
 * @category   Clarion
 * @package    Clarion_FeaturedProduct
 * @author     Clarion Magento Team <magento@clariontechnologies.co.in>
 */
-->
<config>
    <sections>
        <featuredproduct translate="label" module="clarion_featuredproduct">
            <class>separator-top</class>
            <label>Featured Product</label>
            <tab>catalog</tab>
            <frontend_type>text</frontend_type>
            <sort_order>130</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <featuredproduct translate="label">
                    <label>Featured Product</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>1</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <enabled translate="label">
                            <label>Enable Featured Product</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </enabled>
                    </fields>
                </featuredproduct>
                <display translate="label">
                    <label>Display Options</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>2</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <show_featuredproduct translate="label">
                            <label>Show Featured Product On</label>
                            <frontend_type>multiselect</frontend_type>
                            <source_model>clarion_featuredproduct/adminhtml_system_config_source_position</source_model>
                            <validate>validate-select</validate>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </show_featuredproduct>
                        <title translate="label">
                            <label>Block Title</label>
                            <frontend_type>text</frontend_type>
                            <validate>required-entry</validate>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </title>
                         <number_of_products_home_page translate="label">
                            <label>Number of Products On Home Page</label>
                            <frontend_type>text</frontend_type>
                            <validate>required-entry validate-digits</validate>
                            <sort_order>3</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Empty value is the same as default 4.</comment>
                        </number_of_products_home_page>
                         <number_of_products_cat_page translate="label">
                            <label>Number of Products On Category Page</label>
                            <frontend_type>text</frontend_type>
                            <validate>required-entry validate-digits</validate>
                            <sort_order>4</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Empty value is the same as default 4.</comment>
                        </number_of_products_cat_page>
                        <number_of_products_sidebar translate="label">
                            <label>Number of Products On Sidebar(left/right)</label>
                            <frontend_type>text</frontend_type>
                            <validate>required-entry validate-digits</validate>
                            <sort_order>5</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Empty value is the same as default 4.</comment>
                        </number_of_products_sidebar>
                    </fields>
                </display>
            </groups>
        </featuredproduct>
    </sections>
</config>