<?xml version="1.0" encoding="UTF-8"?>
<config>
	<modules>
		<Mirasvit_SearchAutocomplete>
			<version>1.1.9</version>
		</Mirasvit_SearchAutocomplete>
	</modules>
	<global>
        <models>
            <searchautocomplete>
                <class>Mirasvit_SearchAutocomplete_Model</class>
                <resourceModel>searchautocomplete_resource</resourceModel>
            </searchautocomplete>
            <searchautocomplete_resource>
                <class>Mirasvit_SearchAutocomplete_Model_Resource</class>
            </searchautocomplete_resource>
        </models>
		<blocks>
			<searchautocomplete>
				<class>Mirasvit_SearchAutocomplete_Block</class>
			</searchautocomplete>
		</blocks>
		<helpers>
			<searchautocomplete>
				<class>Mirasvit_SearchAutocomplete_Helper</class>
			</searchautocomplete>
		</helpers>

	</global>
	<frontend>
		<routers>
			<m_searchautocomplete>
				<use>standard</use>
				<args>
					<module>Mirasvit_SearchAutocomplete</module>
					<frontName>searchautocomplete</frontName>
				</args>
			</m_searchautocomplete>
		</routers>
		<layout>
			<updates>
				<searchautocomplete>
					<file>mst_searchautocomplete.xml</file>
				</searchautocomplete>
			</updates>
		</layout>
		<translate>
            <modules>
                <Mirasvit_SearchAutocomplete>
                    <files>
                        <default>Mirasvit_SearchAutocomplete.csv</default>
                    </files>
                </Mirasvit_SearchAutocomplete>
            </modules>
        </translate>
        <events>
            <controller_front_send_response_before>
                <observers>
                    <mirasvit_searchautocomplete>
                        <class>searchautocomplete/processor</class>
                        <method>cacheResponse</method>
                    </mirasvit_searchautocomplete>
                </observers>
            </controller_front_send_response_before>
        </events>
	</frontend>
	<adminhtml>
        <acl>
            <all>
                <title>Allow Everything</title>
            </all>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <searchautocomplete>
                                            <title>Search Autocomplete</title>
                                        </searchautocomplete>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
	<default>
        <searchautocomplete>
            <general>
                <enabled>1</enabled>
                <min_chars>3</min_chars>
                <delay>500</delay>
                <max_results>10</max_results>
                <tip>Search entire store here...</tip>
                <show_price>1</show_price>
                <show_rating>0</show_rating>
                <show_short_description>1</show_short_description>
                <show_image>1</show_image>
                <short_description_len>120</short_description_len>
                <filter_type>category</filter_type>
                <image_size>70x50</image_size>
            </general>
            <styles>
                <theme>amazon</theme>
            </styles>
        </searchautocomplete>
    </default>
    <crontab>
        <jobs>
            <searchautocomplete_crawler>
                <schedule><cron_expr>5 2 * * *</cron_expr></schedule>
                <run><model>searchautocomplete/crawler::crawl</model></run>
            </searchautocomplete_crawler>
        </jobs>
    </crontab>
</config>
