<?xml version="1.0"?>
<config>
    <modules>
        <MST_Pdp>
            <version>3.0.2</version>
        </MST_Pdp>
    </modules>
    <frontend>
        <routers>
            <pdp>
                <use>standard</use>
                <args>
                    <module>MST_Pdp</module>
                    <frontName>pdp</frontName>
                </args>
            </pdp>
            <checkout>
                <use>standard</use>
                <args>
                    <modules>
                        <MST_Pdp before="Mage_Checkout">MST_Pdp_Checkout</MST_Pdp>
                    </modules>
                </args>
            </checkout>
        </routers>
        <layout>
            <updates>
                <pdp>
                    <file>pdp.xml</file>
                </pdp>
            </updates>
        </layout>
        <translate>
            <modules>
                <pdp>
                    <files>
                        <default>MST_Pdp.csv</default>
                    </files>
                </pdp>
            </modules>
        </translate>
    </frontend>
    <admin>
        <routers>
            <pdpadmin>
                <use>admin</use>
                <args>
                    <module>MST_Pdp</module>
                    <frontName>pdpadmin</frontName>
                </args>
            </pdpadmin>
        </routers>
    </admin>
    <adminhtml>
        <menu>
            <pdp module="pdp">
                <title>Products Designer</title>
                <sort_order>31</sort_order>
                <children>
					<images module="pdp">
                        <title>Cliparts Library</title>
                        <sort_order>30</sort_order>
                      
						<children>
							<add_artworks_cate module="pdp">
								<title>Cliparts Categories</title>
								<sort_order>10</sort_order>
								<action>pdpadmin/adminhtml_artworkcate/index</action>
							</add_artworks_cate>
							<manageartworks module="pdp">
								<title>Manage Cliparts</title>
								<sort_order>30</sort_order>
								<action>pdpadmin/adminhtml_pdp/image</action>
							</manageartworks>
						</children>
                    </images>
					<font module="pdp">
                        <title>Fonts Library</title>
                        <sort_order>35</sort_order>
                        <action>pdpadmin/adminhtml_pdp/font</action>
                    </font>
					<color module="pdp">
                        <title>Colors Library</title>
                        <sort_order>36</sort_order>
                        <action>pdpadmin/adminhtml_color/index</action>
                    </color>
					<text module="pdp">
                        <title>Quote Library</title>
                        <sort_order>37</sort_order>
                        <action>pdpadmin/adminhtml_text/index</action>
                    </text>
                    <setting module="pdp">
                        <title>PDC Configuration</title>
                        <sort_order>40</sort_order>
                        <action>adminhtml/system_config/edit/section/pdp</action>
                    </setting>
                </children>
            </pdp>
        </menu>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
						<pdp module="pdp">
							<title>PDP</title>
							<sort_order>71</sort_order>
							<children>
								<images module="pdp">
									<title>Cliparts Library</title>
									<sort_order>30</sort_order>
								  
									<children>
										<add_artworks_cate module="pdp">
											<title>Cliparts Categories</title>
											<sort_order>10</sort_order>
											<action>pdpadmin/adminhtml_artworkcate/index</action>
										</add_artworks_cate>
										<manageartworks module="pdp">
											<title>Manage Cliparts</title>
											<sort_order>30</sort_order>
											<action>pdpadmin/adminhtml_pdp/image</action>
										</manageartworks>
									</children>
								</images>
								<font module="pdp">
									<title>Fonts Library</title>
									<sort_order>35</sort_order>
									<action>pdpadmin/adminhtml_pdp/font</action>
								</font>
								<color module="pdp">
									<title>Colors Library</title>
									<sort_order>36</sort_order>
									<action>pdpadmin/adminhtml_color/index</action>
								</color>
								<text module="pdp">
									<title>Quote Library</title>
									<sort_order>37</sort_order>
									<action>pdpadmin/adminhtml_text/index</action>
								</text>
								<setting module="pdp">
									<title>PDC Configuration</title>
									<sort_order>40</sort_order>
									<action>adminhtml/system_config/edit/section/pdp</action>
								</setting>
							</children>
						</pdp>
                    </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <pdp>
                    <file>pdp.xml</file>
                </pdp>
            </updates>
        </layout>
    </adminhtml>
    <global>
        <models>
            <pdp>
                <class>MST_Pdp_Model</class>
                <resourceModel>pdp_mysql4</resourceModel>
            </pdp>
            <pdp_mysql4>
                <class>MST_Pdp_Model_Mysql4</class>
                <entities>
                    <images>
                        <table>mst_pdp_images</table>
                    </images>
					<fonts>
                        <table>mst_pdp_fonts</table>
                    </fonts>
					<colorimage>
                        <table>mst_pdp_image_color</table>
                    </colorimage>
					<artworkcate>
                        <table>mst_pdp_artwork_category</table>
                    </artworkcate>
					<admintemplate>
                        <table>mst_pdp_admin_template</table>
                    </admintemplate>
					<act>
                        <table>mst_pdp_act</table>
                    </act>
					<license>
                        <table>mst_license</table>
                    </license>
					<color>
                        <table>mst_pdp_colors</table>
                    </color>
                    <text>
                        <table>mst_pdp_texts</table>
                    </text>
                    <productstatus>
                        <table>mst_pdp_product_status</table>
                    </productstatus>
					<share>
                        <table>mst_pdpdesign_share</table>
                    </share>
					<pdpside>
						<table>mst_pdp_multisides</table>
					</pdpside>
					<pdpcolor>
						<table>mst_pdp_multisides_colors</table>
					</pdpcolor>
					<pdpcolorimage>
                        <table>mst_pdp_multisides_colors_images</table>
                    </pdpcolorimage>
					<jsonfile>
                        <table>mst_pdp_json_files</table>
                    </jsonfile>
                    <customerdesign>
                        <table>mst_pdp_customer_template</table>
                    </customerdesign>
                    <shapecate>
                        <table>mst_pdp_shape_category</table>
                    </shapecate>
                    <shapes>
                        <table>mst_pdp_shapes</table>
                    </shapes>
                </entities>
            </pdp_mysql4>
        </models>
        <resources>
            <pdp_setup>
                <setup>
                    <module>MST_Pdp</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </pdp_setup>
            <pdp_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </pdp_write>
            <pdp_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </pdp_read>
        </resources>
        <blocks>
            <pdp>
                <class>MST_Pdp_Block</class>
            </pdp>
			<adminhtml>
            	<rewrite>
		             <catalog_product_edit_tabs>MST_Pdp_Block_Adminhtml_Tabs</catalog_product_edit_tabs>
		         </rewrite>
            </adminhtml>
        </blocks>
        <helpers>
            <pdp>
                <class>MST_Pdp_Helper</class>
            </pdp>
        </helpers>
		<events>
            <catalog_product_load_after>
                <observers>
                    <extra_options>
                        <type>model</type>
                        <class>MST_Pdp_Model_Observer</class>
                        <method>catalogProductLoadAfter</method>
                    </extra_options>
                </observers>
            </catalog_product_load_after>
            <!--<sales_quote_item_set_product>
                <observers>
                    <extra_options>
                        <type>model</type>
                        <class>MST_Pdp_Model_Observer</class>
                        <method>quoteItemSetProduct</method>
                    </extra_options>
                </observers>
            </sales_quote_item_set_product>-->
            <sales_quote_product_add_after>
                <observers>
                    <extra_options>
                        <type>model</type>
                        <class>MST_Pdp_Model_Observer</class>
                        <method>quoteProductAddAfter</method>
                    </extra_options>
                </observers>
            </sales_quote_product_add_after>
            <!--<sales_quote_collect_totals_before>
                <observers>
                    <extra_options>
                        <type>singleton</type>
                        <class>MST_Pdp_Model_Observer</class>
                        <method>salesQuoteAddressCollectTotalsBefore</method>
                    </extra_options>
                </observers>
            </sales_quote_collect_totals_before>-->
           <!-- <sales_quote_save_before>
                <observers>
                    <extra_options>
                        <type>model</type>
                        <class>MST_Pdp_Model_Observer</class>
                        <method>cartUpdateItemAfter</method>
                    </extra_options>
                </observers>
            </sales_quote_save_before>-->
            <sales_convert_quote_item_to_order_item>
                <observers>
                    <extra_options>
                        <type>model</type>
                        <class>MST_Pdp_Model_Observer</class>
                        <method>salesConvertQuoteItemToOrderItem</method>
                    </extra_options>
                </observers>
            </sales_convert_quote_item_to_order_item>
            <checkout_cart_product_add_after>
                <observers>
                    <extra_options>
                        <type>singleton</type>
                        <class>MST_Pdp_Model_Observer</class>
                        <method>checkoutCartProductAddAfter</method>
                    </extra_options>
                </observers>
            </checkout_cart_product_add_after>
			<controller_front_init_routers>
                <observers>
                    <pdp>
                        <type>singleton</type>
                        <class>MST_Pdp_Controller_Router</class>
                        <method>initControllerRouters</method>
                    </pdp>
                </observers>
            </controller_front_init_routers>
            <sales_quote_add_item>
                <observers>
                    <priceupdate_observer>
                        <type>model</type>
                        <class>MST_Pdp_Model_Observer</class>
                        <method>updatePrice</method>
                    </priceupdate_observer>
                </observers>
            </sales_quote_add_item>
			<catalog_model_product_duplicate>
				<observers>
					<pdc_product_duplicate_observer>
						<class>MST_Pdp_Model_Observer</class>
						<method>duplicate</method>
					</pdc_product_duplicate_observer>
				</observers>
			</catalog_model_product_duplicate>
		</events>
    </global>
	<default>
		<pdp>
			<setting>
				<enable>1</enable>
				<design_button_label>Customize it!</design_button_label>
				<jquery>1</jquery>
                <image_quality>0.7</image_quality> 
	        </setting>
			<design>
				<is_notify>1</is_notify>
				<hide_thumbnail>1</hide_thumbnail>
				<is_quick_tool>1</is_quick_tool>
				<is_frame_alignment>1</is_frame_alignment>
				<is_swap>1</is_swap>
				<is_duplicate>1</is_duplicate>
				<is_flip>1</is_flip>
				<is_opacity>1</is_opacity>
				<is_filling>1</is_filling>
				<is_delete>1</is_delete>
				<is_quote_lib>1</is_quote_lib>
				<curved>0</curved>
			</design>
			<customer_action>
				<is_sharing>1</is_sharing>
				<addthis_id>ra-4f94cf46554eb949</addthis_id>
				<is_facebook>0</is_facebook>
				<is_instagram>0</is_instagram>
			</customer_action>
            <custom_upload>
                <size_unit>M</size_unit>
                <upload_max_size>0</upload_max_size>
                <upload_min_size>0</upload_min_size>
                <upload_max_width>0</upload_max_width>
                <upload_max_height>0</upload_max_height>
            </custom_upload>
            <watermark>
                <position>bottom_right</position>
            </watermark>
	    </pdp>
    </default>
</config>