<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Mirasvit_FeedExport>
            <version>0.0.7.6</version>
        </Mirasvit_FeedExport>
    </modules>
    <global>
        <models>
            <feedexport>
                <class>Mirasvit_FeedExport_Model</class>
                <resourceModel>feedexport_resource</resourceModel>
            </feedexport>
            <feedexport_resource>
                <class>Mirasvit_FeedExport_Model_Resource</class>
                <entities>
                    <feed>
                        <table>m_feedexport_feed</table>
                    </feed>
                    <feed_history>
                        <table>m_feedexport_feed_history</table>
                    </feed_history>
                    <template>
                        <table>m_feedexport_template</table>
                    </template>
                    <custom_attribute>
                        <table>m_feedexport_custom_attribute</table>
                    </custom_attribute>

                    <performance_click>
                        <table>m_feedexport_performance_click</table>
                    </performance_click>
                    <performance_order>
                        <table>m_feedexport_performance_order</table>
                    </performance_order>
                    <performance_aggregated>
                        <table>m_feedexport_performance_aggregated</table>
                    </performance_aggregated>

                    <rule>
                        <table>m_feedexport_rule</table>
                    </rule>
                    <rule_product>
                        <table>m_feedexport_rule_product</table>
                    </rule_product>
                    <rule_feed>
                        <table>m_feedexport_rule_feed</table>
                    </rule_feed>
                    <feed_product>
                        <table>m_feedexport_feed_product</table>
                    </feed_product>

                    <mapping_category>
                        <table>m_feedexport_mapping_category</table>
                    </mapping_category>

                </entities>
            </feedexport_resource>
        </models>
        <blocks>
            <feedexport>
                <class>Mirasvit_FeedExport_Block</class>
            </feedexport>
        </blocks>
        <helpers>
            <feedexport>
                <class>Mirasvit_FeedExport_Helper</class>
            </feedexport>
        </helpers>
        <resources>
            <feedexport_setup>
                <setup>
                    <module>Mirasvit_FeedExport</module>
                </setup>
            </feedexport_setup>
        </resources>
        <events>
            <sales_order_place_after>
                <observers>
                    <feedexport_sales_order_place_after>
                        <class>feedexport/performance_order</class>
                        <method>onOrderPlaceAfter</method>
                    </feedexport_sales_order_place_after>
                </observers>
            </sales_order_place_after>

            <feedexport_generation_success>
                <observers>
                    <feedexport_feedexport_generation_success>
                        <class>feedexport/notification_email</class>
                        <method>onGenerationSuccess</method>
                    </feedexport_feedexport_generation_success>
                </observers>
            </feedexport_generation_success>
            <feedexport_delivery_success>
                <observers>
                    <feedexport_feedexport_delivery_success>
                        <class>feedexport/notification_email</class>
                        <method>onDeliverySuccess</method>
                    </feedexport_feedexport_delivery_success>
                </observers>
            </feedexport_delivery_success>

            <feedexport_generation_fail>
                <observers>
                    <feedexport_feedexport_generation_fail>
                        <class>feedexport/notification_email</class>
                        <method>onGenerationFail</method>
                    </feedexport_feedexport_generation_fail>
                </observers>
            </feedexport_generation_fail>
            <feedexport_delivery_fail>
                <observers>
                    <feedexport_feedexport_delivery_fail>
                        <class>feedexport/notification_email</class>
                        <method>onDeliveryFail</method>
                    </feedexport_feedexport_delivery_fail>
                </observers>
            </feedexport_delivery_fail>
        </events>
        <template>
            <email>
               <feedexport_generation_success>
                   <label>feedexport_generation_success</label>
                   <file>feedexport/generation/success.html</file>
                   <type>html</type>
               </feedexport_generation_success>
               <feedexport_delivery_success>
                   <label>feedexport_delivery_success</label>
                   <file>feedexport/delivery/success.html</file>
                   <type>html</type>
               </feedexport_delivery_success>

               <feedexport_generation_fail>
                   <label>feedexport_generation_fail</label>
                   <file>feedexport/generation/fail.html</file>
                   <type>html</type>
               </feedexport_generation_fail>
               <feedexport_delivery_fail>
                   <label>feedexport_delivery_fail</label>
                   <file>feedexport/delivery/fail.html</file>
                   <type>html</type>
               </feedexport_delivery_fail>
            </email>
        </template>
    </global>
    <frontend>
        <routers>
            <feedexport>
                <use>standard</use>
                <args>
                    <module>Mirasvit_FeedExport</module>
                    <frontName>feedexportfront</frontName>
                </args>
            </feedexport>
        </routers>
        <layout>
            <updates>
                <feedexport module="Mirasvit_FeedExport">
                    <file>feedexport.xml</file>
                </feedexport>
            </updates>
        </layout>
        <translate>
            <modules>
                <Mirasvit_FeedExport>
                    <files>
                        <default>Mirasvit_FeedExport.csv</default>
                    </files>
                </Mirasvit_FeedExport>
            </modules>
        </translate>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
				<args>
					<modules>
						<feedexport after="Mage_Adminhtml">Mirasvit_FeedExport_Adminhtml</feedexport>
					</modules>
				</args>
			</adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <feedexport module="Mirasvit_FeedExport">
                    <file>mirasvit_feedexport.xml</file>
                </feedexport>
            </updates>
        </layout>
        <events>
            <adminhtml_catalog_product_grid_prepare_massaction>
                <observers>
                    <adminhtml_feedexport_catalog_product_grid_prepare_massaction>
                        <class>feedexport/observer</class>
                        <method>onAdminhtmlCatalogProductGridPrepareMassaction</method>
                    </adminhtml_feedexport_catalog_product_grid_prepare_massaction>
                </observers>
            </adminhtml_catalog_product_grid_prepare_massaction>
        </events>
    </adminhtml>
    <crontab>
        <jobs>
            <feedexport_job>
                <schedule>
                    <cron_expr>*/10 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>feedexport/observer::generate</model>
                </run>
            </feedexport_job>
            <feedexport_clean_job>
                <schedule>
                    <cron_expr>5 1 * * *</cron_expr>
                </schedule>
                <run>
                    <model>feedexport/observer::cleanHistory</model>
                </run>
            </feedexport_clean_job>
        </jobs>
    </crontab>
    <default>
        <feedexport>
            <generation>
                <iteration_size>50</iteration_size>
            </generation>
        </feedexport>
    </default>
</config>