<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Mirasvit_EmailReport>
            <version>1.0.1</version>
        </Mirasvit_EmailReport>
    </modules>
    <global>
        <models>
            <emailreport>
                <class>Mirasvit_EmailReport_Model</class>
                <resourceModel>emailreport_resource</resourceModel>
            </emailreport>

            <emailreport_resource>
                <class>Mirasvit_EmailReport_Model_Resource</class>
                <entities>
                    <click>
                        <table>m_emailreport_click</table>
                    </click>
                    <open>
                        <table>m_emailreport_open</table>
                    </open>
                    <order>
                        <table>m_emailreport_order</table>
                    </order>
                    <review>
                        <table>m_emailreport_review</table>
                    </review>
                    <aggregated>
                        <table>m_emailreport_aggregated</table>
                    </aggregated>
                </entities>
            </emailreport_resource>
        </models>
        <helpers>
            <emailreport>
                <class>Mirasvit_EmailReport_Helper</class>
            </emailreport>
        </helpers>
        <resources>
            <emailreport_setup>
                <setup>
                    <module>Mirasvit_EmailReport</module>
                </setup>
            </emailreport_setup>
        </resources>
        <blocks>
            <emailreport>
                <class>Mirasvit_EmailReport_Block</class>
            </emailreport>
        </blocks>

        <events>
            <controller_action_predispatch>
                <observers>
                    <emailreport_predispatch>
                        <type>singleton</type>
                        <class>Mirasvit_EmailReport_Model_Observer</class>
                        <method>onControllerActionPredispatch</method>
                    </emailreport_predispatch>
                </observers>
            </controller_action_predispatch>
            <email_queue_get_content_after>
                <observers>
                    <emailreport>
                        <type>singleton</type>
                        <class>emailreport/observer</class>
                        <method>onEmailQueueGetContentAfter</method>
                    </emailreport>
                </observers>
            </email_queue_get_content_after>
            <review_save_after>
                <observers>
                    <emailreport>
                        <type>singleton</type>
                        <class>emailreport/observer</class>
                        <method>onReviewSaveAfter</method>
                    </emailreport>
                </observers>
            </review_save_after>
            <sales_order_place_after>
                <observers>
                    <emailreport>
                        <class>emailreport/observer</class>
                        <method>onSalesOrderPlaceAfter</method>
                    </emailreport>
                </observers>
            </sales_order_place_after>
        </events>
    </global>
    <adminhtml>
        <layout>
            <updates>
                <emailreport module="emailreport">
                    <file>mst_emailreport.xml</file>
                </emailreport>
            </updates>
        </layout>
        <translate>
            <modules>
                <Mirasvit_EmailReport>
                    <files>
                        <default>Mirasvit_EmailReport.csv</default>
                    </files>
                </Mirasvit_EmailReport>
            </modules>
        </translate>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
				<args>
					<modules>
						<emailreport after="Mage_Adminhtml">Mirasvit_EmailReport_Adminhtml</emailreport>
					</modules>
				</args>
			</adminhtml>
        </routers>
    </admin>
    <frontend>
        <routers>
            <m_emailreport>
                <use>standard</use>
                <args>
                    <module>Mirasvit_EmailReport</module>
                    <frontName>emailreport</frontName>
                </args>
            </m_emailreport>
        </routers>
    </frontend>
    <crontab>
        <jobs>
            <emailreport_aggregate_all>
                <schedule>
                    <cron_expr>5 */6 * * *</cron_expr>
                </schedule>
                <run>
                    <model>emailreport/aggregated::aggregateAll</model>
                </run>
            </emailreport_aggregate_all>
        </jobs>
    </crontab>
</config>