<?xml version="1.0"?>
<config>
    <modules>
        <Magebuzz_Featuredcategory>
            <version>0.1.1</version>
        </Magebuzz_Featuredcategory>
    </modules>
    <frontend>
		<secure_url>
            <featuredcategory>/featuredcategory/</featuredcategory>
        </secure_url>	
        <routers>
            <featuredcategory>
                <use>standard</use>
                <args>
                    <module>Magebuzz_Featuredcategory</module>
                    <frontName>featuredcategory</frontName>
                </args>
            </featuredcategory>
        </routers>
        <layout>
            <updates>
                <featuredcategory>
                    <file>featuredcategory.xml</file>
                </featuredcategory>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<featuredcategory>
				<use>admin</use>
				<args>
					<module>Magebuzz_Featuredcategory</module>
					<frontName>featuredcategory</frontName>
				</args>
			</featuredcategory>
        </routers>
    </admin>
    <adminhtml>
		<layout>
			<updates>
				<featuredcategory>
					<file>featuredcategory.xml</file>
				</featuredcategory>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <featuredcategory>
                <class>Magebuzz_Featuredcategory_Model</class>
                <resourceModel>featuredcategory_mysql4</resourceModel>
            </featuredcategory>
            <featuredcategory_mysql4>
                <class>Magebuzz_Featuredcategory_Model_Mysql4</class>
                <entities>
                    <featuredcategory>
                        <table>featuredcategory</table>
                    </featuredcategory>
                </entities>
            </featuredcategory_mysql4>
        </models>
        <resources>
            <featuredcategory_setup>
                <setup>
                    <module>Magebuzz_Featuredcategory</module>
                    <class>Mage_Catalog_Model_Resource_Eav_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </featuredcategory_setup>
            <featuredcategory_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </featuredcategory_write>
            <featuredcategory_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </featuredcategory_read>
        </resources>
        <blocks>
            <featuredcategory>
                <class>Magebuzz_Featuredcategory_Block</class>
            </featuredcategory>
        </blocks>
        <helpers>
            <featuredcategory>
                <class>Magebuzz_Featuredcategory_Helper</class>
            </featuredcategory>
        </helpers>
    </global>
	<default>
		<featuredcategory>
			<general>
                <enabled_featuredcategory>1</enabled_featuredcategory>
			</general>
            <display_setting>
                <image_width>120</image_width>
                <image_height>120</image_height>
                <show_category_alphabet>0</show_category_alphabet>
                <number_categories_per_row>3</number_categories_per_row>
            </display_setting>
		</featuredcategory>
	</default>
	<translate>
		<modules>
			<Magebuzz_Featuredcategory>
				<files>
					<default>Magebuzz_Featuredcategory.csv</default>
				</files>
			</Magebuzz_Featuredcategory>
		</modules>
	</translate>	
</config>