<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <EaDesign_PdfGenerator>
            <version>1.0.22</version>
        </EaDesign_PdfGenerator>
    </modules>

    <global>
        <helpers>
            <pdfgenerator>
                <class>EaDesign_PdfGenerator_Helper</class>
            </pdfgenerator>
        </helpers>
        <models>
            <core>
                <rewrite>
                    <email_template_mailer>EaDesign_PdfGenerator_Model_Core_Email_Template_Mailer</email_template_mailer>
                </rewrite>
            </core>
            <eadesign>
                <class>EaDesign_PdfGenerator_Model</class>
                <!--Hint  - nu fa fisiere cu camel case mai jos de [module]-->
                <resourceModel>pdfgenerator_mysql4</resourceModel>
            </eadesign>
            <pdfgenerator_mysql4>
                <class>EaDesign_PdfGenerator_Model_Mysql4</class>
                <entities>
                    <pdfgenerator>
                        <table>eadesign_pdfgenerator_template</table>
                    </pdfgenerator>
                </entities>
            </pdfgenerator_mysql4>
        </models>
        <events>
            <eadesign_pdfgenerator_before_send_invoice>
                <observers>
                    <eadesign_pdfgenerator_before_send_invoice>
                        <type>singleton</type>
                        <class>eadesign/observer</class>
                        <method>beforeSendInvoice</method>
                    </eadesign_pdfgenerator_before_send_invoice>
                </observers>
            </eadesign_pdfgenerator_before_send_invoice>
        </events>
        <blocks>
            <pdfgenerator>
                <class>EaDesign_PdfGenerator_Block</class>
            </pdfgenerator>
            <adminhtml>
                <rewrite>
                    <sales_order_grid>EaDesign_PdfGenerator_Block_Adminhtml_Block_Sales_Order_Grid</sales_order_grid>
                    <sales_order_invoice_view>EaDesign_PdfGenerator_Block_Adminhtml_Block_Sales_Order_Invoice_View</sales_order_invoice_view>
                    <sales_invoice_grid>EaDesign_PdfGenerator_Block_Adminhtml_Block_Sales_Order_Invoice_Grid</sales_invoice_grid>
                </rewrite>
            </adminhtml>
            <sales>
                <rewrite>
                    <order_invoice_items>EaDesign_PdfGenerator_Block_Sales_Order_Invoice_Items</order_invoice_items>
                </rewrite>
            </sales>
        </blocks>

        <resources><!--Resiurce model - We need to add the files: -->
            <eadesign_pdfgenerator_setup>
                <setup>
                    <module>EaDesign_PdfGenerator</module>
                    <class>Mage_Core_Model_Resource_Setup</class>
                </setup>
            </eadesign_pdfgenerator_setup>
            <pdfgenerator_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </pdfgenerator_write>
            <pdfgenerator_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </pdfgenerator_read>
        </resources>
    </global>

    <frontend>
        <layout>
            <updates>
                <pdfgen module="EaDesign_PdfGenerator">
                    <file>pdfgenerator/pdfgenerator.xml</file>
                </pdfgen>
            </updates>
        </layout>
        <routers>
            <this_is_frontend_unique>
                <use>standard</use>
                <args>
                    <module>EaDesign_PdfGenerator</module>
                    <frontName>pdfgenerator</frontName>
                </args>
            </this_is_frontend_unique>
        </routers>
    </frontend>

    <admin>
        <routers>
            <this_is_admin_unique>
                <use>admin</use>
                <args>
                    <module>EaDesign_PdfGenerator</module>
                    <frontName>adminpdfgenerator</frontName>
                </args>
            </this_is_admin_unique>
        </routers>
    </admin>

    <adminhtml>
        <translate>
            <modules>
                <EaDesign_PdfGenerator>
                    <files>
                        <default>EaDesign_PdfGenerator.csv</default>
                    </files>
                </EaDesign_PdfGenerator>
            </modules>
        </translate>
    </adminhtml>
</config>