<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Mirasvit_Misspell>
            <version>1.2.4</version>
        </Mirasvit_Misspell>
    </modules>
    <global>
        <models>
            <misspell>
                <class>Mirasvit_Misspell_Model</class>
                <resourceModel>misspell_resource</resourceModel>
            </misspell>
            <misspell_resource>
                <class>Mirasvit_Misspell_Model_Resource</class>
                <entities>
                    <misspell>
                        <table>m_misspell</table>
                    </misspell>
                    <misspell_suggest>
                        <table>m_misspell_suggest</table>
                    </misspell_suggest>
                </entities>
            </misspell_resource>
        </models>
        <blocks>
            <misspell>
                <class>Mirasvit_Misspell_Block</class>
            </misspell>
        </blocks>
        <helpers>
            <misspell>
                <class>Mirasvit_Misspell_Helper</class>
            </misspell>
            <catalogsearch>
                <rewrite>
                    <data>Mirasvit_Misspell_Helper_Data</data>
                </rewrite>
            </catalogsearch>
        </helpers>
        <resources>
            <misspell_setup>
                <setup>
                    <module>Mirasvit_Misspell</module>
                </setup>
            </misspell_setup>
        </resources>
        <events>
            <searchautocomplete_prepare_collection>
                <observers>
                    <misspell_prepare_collection>
                        <class>misspell/observer</class>
                        <method>onPrepareCollection</method>
                    </misspell_prepare_collection>
                </observers>
            </searchautocomplete_prepare_collection>
            <controller_action_postdispatch_catalogsearch_result_index>
                <observers>
                    <mirasvit_misspell_postdispatch_catalogsearch_result_index>
                        <type>singleton</type>
                        <class>misspell/observer</class>
                        <method>onPostdispatchCatalogsearchResultIndex</method>
                    </mirasvit_misspell_postdispatch_catalogsearch_result_index>
                </observers>
            </controller_action_postdispatch_catalogsearch_result_index>
        </events>
    </global>
    <adminhtml>
        <acl>
            <all>
                <title>Allow Everything</title>
            </all>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <misspell translate="title" module="misspell">
                                            <title>Search Spell-Correction</title>
                                        </misspell>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
        <translate>
            <modules>
                <Mirasvit_Misspell>
                    <files>
                        <default>Mirasvit_Misspell.csv</default>
                    </files>
                </Mirasvit_Misspell>
            </modules>
        </translate>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
				<args>
					<modules>
						<misspell after="Mage_Adminhtml">Mirasvit_Misspell_Adminhtml</misspell>
					</modules>
				</args>
			</adminhtml>
        </routers>
    </admin>
    <frontend>
        <translate>
            <modules>
                <Mirasvit_Misspell>
                    <files>
                        <default>Mirasvit_Misspell.csv</default>
                    </files>
                </Mirasvit_Misspell>
            </modules>
        </translate>
        <layout>
            <updates>
                <misspell>
                    <file>mst_misspell.xml</file>
                </misspell>
            </updates>
        </layout>
    </frontend>
    <crontab>
        <jobs>
            <misspell>
                <schedule>
                    <cron_expr>9 3 * * *</cron_expr>
                </schedule>
                <run>
                    <model>misspell/indexer::reindexAll</model>
                </run>
            </misspell>
        </jobs>
    </crontab>
    <default>
        <misspell>
            <general>
                <misspell>1</misspell>
                <fallback>1</fallback>
            </general>
        </misspell>
    </default>
</config>
