<?xml version="1.0"?>
<config>
    <modules>
        <FreeLunchLabs_CloudFront>
            <version>1.0.0</version>
        </FreeLunchLabs_CloudFront>
    </modules>
    <global>
        <models>
            <freelunchlabs_cloudfront>
                <class>FreeLunchLabs_CloudFront_Model</class>
            </freelunchlabs_cloudfront>
            <core>
                <rewrite>
                    <store>FreeLunchLabs_CloudFront_Model_Store</store>
                </rewrite>
            </core>
        </models>
        <helpers>
            <cloudfront>
                <class>FreeLunchLabs_CloudFront_Helper</class>
            </cloudfront>
        </helpers>
        <blocks>
            <freelunchlabs_cloudfront>
                <class>FreeLunchLabs_CloudFront_Block</class>
            </freelunchlabs_cloudfront>
        </blocks>
        <events>
            <catalog_product_gallery_upload_image_after>
                <observers>
                    <freelunchlabs_cloudfront_observer>
                        <type>singleton</type>
                        <class>FreeLunchLabs_CloudFront_Model_Observer</class>
                        <method>catalog_product_gallery_upload_image_after</method>
                    </freelunchlabs_cloudfront_observer>
                </observers>			
            </catalog_product_gallery_upload_image_after>
            <admin_system_config_changed_section_cloudfront>
                <observers>
                    <freelunchlabs_cloudfront_observer>
                        <type>singleton</type>
                        <class>FreeLunchLabs_CloudFront_Model_Setup_Observer</class>
                        <method>admin_system_config_changed_section_cloudfront</method>
                    </freelunchlabs_cloudfront_observer>
                </observers>
            </admin_system_config_changed_section_cloudfront>
        </events>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <freelunchlabs_cloudfront before="Mage_Adminhtml">FreeLunchLabs_CloudFront_Adminhtml</freelunchlabs_cloudfront>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <menu>
            <system>
                <children>
                    <cloudfront translate="title" module="cloudfront">
                        <title>CDN Management</title>
                        <sort_order>100</sort_order>
                        <action>adminhtml/cdnmanagement</action>
                    </cloudfront>
                </children>
            </system>
        </menu>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <cloudfront translate="title" module="cloudfront">
                                            <title>CloudFront CDN Configuration</title>
                                            <sort_order>50</sort_order>
                                        </cloudfront>
                                    </children>
                                </config>
                                <cdnmanagement>
                                    <title>CloudFront CDN Managment</title>
                                    <sort_order>70</sort_order>
                                </cdnmanagement>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <cloudfront>
                    <file>cloudfront.xml</file>
                </cloudfront>
            </updates>
        </layout>
    </adminhtml>
    <default>
        <cloudfront>
            <general>
                <active>0</active>
                <origin>{{unsecure_base_url}}</origin>
                <refresh>0</refresh>
                <refreshCache>0</refreshCache>
                <deployed>0</deployed>
                <test_file>/skin/adminhtml/default/default/images/blank.gif</test_file>
            </general>
            <media>
                <media>1</media>
                <media_path>media/</media_path>
                <auto_refresh_media>1</auto_refresh_media>
            </media>
            <skin>
                <skin>1</skin>
                <skin_path>skin/</skin_path>
            </skin>
            <js>
                <js>1</js>
                <js_path>js/</js_path>
            </js>
            <test_mode>
                <enabled>1</enabled>
            </test_mode>
        </cloudfront>
    </default>
</config>