<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Mirasvit_Email>
            <version>1.0.1.6</version>
        </Mirasvit_Email>
    </modules>
    <global>
        <models>
            <email>
                <class>Mirasvit_Email_Model</class>
                <resourceModel>email_resource</resourceModel>
            </email>

            <email_resource>
                <class>Mirasvit_Email_Model_Resource</class>
                <entities>
                    <trigger>
                        <table>m_email_trigger</table>
                    </trigger>
                    <trigger_chain>
                        <table>m_email_trigger_chain</table>
                    </trigger_chain>
                    <queue>
                        <table>m_email_queue</table>
                    </queue>
                    <rule>
                        <table>m_email_rule</table>
                    </rule>
                    <event>
                        <table>m_email_event</table>
                    </event>
                    <event_trigger>
                        <table>m_email_event_trigger</table>
                    </event_trigger>
                    <unsubscription>
                        <table>m_email_unsubscription</table>
                    </unsubscription>
                </entities>
            </email_resource>
        </models>
        <helpers>
            <email>
                <class>Mirasvit_Email_Helper</class>
            </email>
        </helpers>
        <resources>
            <email_setup>
                <setup>
                    <module>Mirasvit_Email</module>
                </setup>
            </email_setup>
        </resources>
        <blocks>
            <email>
                <class>Mirasvit_Email_Block</class>
            </email>
        </blocks>
        <events>
            <wishlist_share>
                <observers>
                    <email>
                        <type>singleton</type>
                        <class>email/observer</class>
                        <method>onWishlistShared</method>
                    </email>
                </observers>
            </wishlist_share>
            <newsletter_subscriber_save_after>
                <observers>
                    <email>
                        <type>singleton</type>
                        <class>email/observer</class>
                        <method>onNewsletterSubscriberSaveAfter</method>
                    </email>
                </observers>
            </newsletter_subscriber_save_after>
            <email_queue_get_content_after>
                <observers>
                    <email>
                        <type>singleton</type>
                        <class>email/observer</class>
                        <method>onEmailQueueGetContentAfter</method>
                    </email>
                </observers>
            </email_queue_get_content_after>
            <customer_save_after>
                <observers>
                    <email>
                        <type>singleton</type>
                        <class>email/observer</class>
                        <method>onCustomerSaveAfter</method>
                    </email>
                </observers>
            </customer_save_after>
        </events>
    </global>
    <adminhtml>
        <global_search>
            <email_search>
                <class>email/trigger_search</class>
                <acl>email_search</acl>
            </email_search>
        </global_search>
        <layout>
            <updates>
                <email module="email">
                    <file>mst_email.xml</file>
                </email>
            </updates>
        </layout>
        <acl>
            <all>
                <title>Allow Everything</title>
            </all>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <email translate="title" module="email">
                                            <title>Follow Up Email</title>
                                        </email>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
        <translate>
            <modules>
                <Mirasvit_Email>
                    <files>
                        <default>Mirasvit_Email.csv</default>
                    </files>
                </Mirasvit_Email>
            </modules>
        </translate>
    </adminhtml>
    <frontend>
        <routers>
            <m_email>
                <use>standard</use>
                <args>
                    <module>Mirasvit_Email</module>
                    <frontName>eml</frontName>
                </args>
            </m_email>
        </routers>
        <layout>
            <updates>
                <email>
                    <file>mst_email.xml</file>
                </email>
            </updates>
        </layout>
        <translate>
            <modules>
                <Mirasvit_Email>
                    <files>
                        <default>Mirasvit_Email.csv</default>
                    </files>
                </Mirasvit_Email>
            </modules>
        </translate>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
				<args>
					<modules>
						<email after="Mage_Adminhtml">Mirasvit_Email_Adminhtml</email>
					</modules>
				</args>
			</adminhtml>
        </routers>
    </admin>
    <crontab>
        <jobs>
            <email_send_queue>
                <schedule>
                    <cron_expr>* * * * *</cron_expr>
                </schedule>
                <run>
                    <model>email/observer::sendQueue</model>
                </run>
            </email_send_queue>
            <email_check_events>
                <schedule>
                    <cron_expr>* * * * *</cron_expr>
                </schedule>
                <run>
                    <model>email/observer::checkEvents</model>
                </run>
            </email_check_events>
            <email_clear_old>
                <schedule>
                    <cron_expr>3 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>email/observer::clearOldData</model>
                </run>
            </email_clear_old>
            <email_delete_expired_coupons>
                <schedule>
                    <cron_expr>0 3 * * *</cron_expr>
                </schedule>
                <run>
                    <model>email/observer::deleteExpiredCoupons</model>
                </run>
            </email_delete_expired_coupons>
        </jobs>
    </crontab>
    <default>
        <trigger_email>
            <general>
                <max_email>0</max_email>
                <max_email_period>0</max_email_period>
            </general>
        </trigger_email>
    </default>
</config>