<?xml version="1.0"?>
<config>
	<modules>
		<Magebuzz_Info>
			<version>0.1.0</version>
		</Magebuzz_Info>
	</modules>
	<admin>
		<routers>
			<info>
				<use>admin</use>
				<args>
					<module>Magebuzz_Info</module>
					<frontName>info</frontName>
				</args>
			</info>
		</routers>
	</admin>
	<adminhtml>
		<events>
			<controller_action_predispatch>
				<observers>
					<magebuzz_info_feed>
						<type>singleton</type>
						<class>info/feed</class>
						<method>checkUpdate</method>
					</magebuzz_info_feed>
				</observers>
			</controller_action_predispatch>
    </events> 
	</adminhtml>
	<global>
		<models>
			<info>
				<class>Magebuzz_Info_Model</class>
				<resourceModel>info_mysql4</resourceModel>
			</info>
			<info_mysql4>
				<class>Magebuzz_Info_Model_Mysql4</class>
				<entities>
					<info>
						<table>info</table>
					</info>
				</entities>
			</info_mysql4>
		</models>
		<resources>
			<info_setup>
				<setup>
					<module>Magebuzz_Info</module>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</info_setup>
			<info_write>
				<connection>
					<use>core_write</use>
				</connection>
			</info_write>
			<info_read>
				<connection>
					<use>core_read</use>
				</connection>
			</info_read>
		</resources>
		<blocks>
			<info>
				<class>Magebuzz_Info_Block</class>
			</info>
		</blocks>
		<helpers>
			<info>
				<class>Magebuzz_Info_Helper</class>
			</info>
		</helpers>
	</global>
	<default>
		<info>
			<notification>
				<enable>1</enable>
			</notification>
		</info>
	</default>
</config>