.ngroups_grid_groupsinfo{
   
    padding: 5px 10px; 
    
	
}
.ngroups_grid_groupsinfo .headings  {
	background: #e1e1e1 !important;
	
}
.ngroups_grid_groupsinfo th {
padding: 2px 4px !important;
	
}