<?xml version="1.0"?>
<config>
    <modules>
        <Webspeaks_Productbook>
            <version>0.1.3</version>
        </Webspeaks_Productbook>
    </modules>
    <frontend>
        <routers>
            <productbook>
                <use>standard</use>
                <args>
                    <module>Webspeaks_Productbook</module>
                    <frontName>productbook</frontName>
                </args>
            </productbook>
        </routers>
        <layout>
            <updates>
                <productbook>
                    <file>productbook.xml</file>
                </productbook>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<productbook>
				<use>admin</use>
				<args>
					<module>Webspeaks_Productbook</module>
					<frontName>productbook</frontName>
				</args>
			</productbook>
        </routers>
    </admin>
	<adminhtml>
		<layout>
			<updates>
				<chat>
					<file>productbook.xml</file>
				</chat>
			</updates>
		</layout>
	</adminhtml>
    <global>
        <models>
        </models>
        <resources>
        </resources>
        <blocks>
            <productbook>
                <class>Webspeaks_Productbook_Block</class>
            </productbook>
			<!--<catalog>
				<rewrite>
					<product_list>Webspeaks_Productbook_Block_Product_List</product_list>
				</rewrite>
			</catalog>-->
        </blocks>
        <helpers>
            <productbook>
                <class>Webspeaks_Productbook_Helper</class>
            </productbook>
        </helpers>
    </global>
	<default>
		<pbconfig>
			<pb_group>
				<pb_enabled>1</pb_enabled>
				<pb_load_jq>1</pb_load_jq>
				<pb_caption>Quickshop</pb_caption>
				<pb_class>.category-products .product-image</pb_class>
				<pb_height>400</pb_height>
				<pb_width>auto</pb_width>
			</pb_group>
		</pbconfig>
	</default>
</config>