<?xml version="1.0"?>
<config>
  <modules>
    <Extensions_Collections>
      <version>0.1.0</version>
    </Extensions_Collections>
  </modules>
  <frontend>
    <routers>
      <collections>
        <use>standard</use>
          <args>
            <module>Extensions_Collections</module>
            <frontName>collections</frontName>
          </args>
      </collections>
    </routers>
    <layout>
      <updates>
      <collections>
        <file>extensionscollections.xml</file>
      </collections>
      </updates>
    </layout>
  </frontend>
  <global>
  <helpers>
	<collections>
	<class>Extensions_Collections_Helper</class>
	</collections>
  </helpers>  
  <blocks>
    <collections>
    <class>Extensions_Collections_Block</class>
    </collections>
  </blocks>
  </global>
</config> 