<?xml version="1.0"?>
<config>
  <modules>
    <Progos_LocalRate>
      <version>0.1.0</version>
    </Progos_LocalRate>
  </modules>
 
  <global>
    <models>
      <progos_localrate>
        <class>Progos_LocalRate_Model</class>
      </progos_localrate>
    </models>
    
  </global>
   <default>
        <carriers>
            <progos_localrate>
                <active>1</active>
                <sort_order>10</sort_order>
                <model>progos_localrate/carrier</model>
                <title>Local Rate</title>
                <sort_order>10</sort_order>
                <sallowspecific>1</sallowspecific>
            </progos_localrate>
        </carriers>
    </default>
</config>
