<?xml version="1.0"?>
<config>
    <modules>
        <Mirasvit_MstCore>
            <version>1.0.8</version>
        </Mirasvit_MstCore>
    </modules>
    <global>
        <blocks>
            <mstcore>
                <class>Mirasvit_MstCore_Block</class>
            </mstcore>
        </blocks>
        <models>
            <mstcore>
                <class>Mirasvit_MstCore_Model</class>
                <resourceModel>mstcore_resource</resourceModel>
            </mstcore>
            <mstcore_resource>
                <class>Mirasvit_MstCore_Model_Resource</class>
                <entities>
                    <logger>
                        <table>m_mstcore_logger</table>
                    </logger>
                    <urlrewrite>
                        <table>m_mstcore_urlrewrite</table>
                    </urlrewrite>
                    <attachment>
                        <table>m_mstcore_attachment</table>
                    </attachment>
                </entities>
            </mstcore_resource>
        </models>
        <helpers>
            <mstcore>
                <class>Mirasvit_MstCore_Helper</class>
            </mstcore>
        </helpers>
        <resources>
            <mstcore_setup>
                <setup>
                    <module>Mirasvit_MstCore</module>
                </setup>
            </mstcore_setup>
        </resources>
        <events>
            <controller_front_init_routers>
                <observers>
                    <mstcore>
                        <type>singleton</type>
                        <class>Mirasvit_MstCore_Controller_Router</class>
                        <method>addUrlsRouter</method>
                    </mstcore>
                </observers>
            </controller_front_init_routers>
        </events>
    </global>
    <adminhtml>
        <layout>
            <updates>
                <mstcore module="Mirasvit_MstCore">
                    <file>mstcore.xml</file>
                </mstcore>
            </updates>
        </layout>
       <translate>
            <modules>
                <Mirasvit_MstCore>
                    <files>
                        <default>Mirasvit_MstCore.csv</default>
                    </files>
                </Mirasvit_MstCore>
            </modules>
        </translate>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <mstcore>
                                            <title>Mirasvit System</title>
                                        </mstcore>
                                        <mstcore_store>
                                            <title>Mirasvit Extensions Store</title>
                                        </mstcore_store>
                                        <mstcore_logger>
                                            <title>Mirasvit Extensions Store</title>
                                        </mstcore_logger>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
        <events>
            <controller_action_predispatch>
                <observers>
                    <mstcore_lc>
                        <type>singleton</type>
                        <class>Mirasvit_MstCore_Helper_Code</class>
                        <method>onControllerActionPredispatch</method>
                    </mstcore_lc>
                    <mstcore_extension>
                        <type>singleton</type>
                        <class>mstcore/feed_updates</class>
                        <method>check</method>
                    </mstcore_extension>
                </observers>
            </controller_action_predispatch>
            <core_block_abstract_to_html_after>
                <observers>
                    <mstcore_lc>
                        <type>singleton</type>
                        <class>Mirasvit_MstCore_Helper_Code</class>
                        <method>onCoreBlockAbtractToHtmlAfter</method>
                    </mstcore_lc>
                </observers>
            </core_block_abstract_to_html_after>
            <model_save_before>
                <observers>
                    <mstcore>
                        <type>singleton</type>
                        <class>Mirasvit_MstCore_Helper_Code</class>
                        <method>onModelSaveBefore</method>
                    </mstcore>
                </observers>
            </model_save_before>
        </events>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
				<args>
					<modules>
						<mstcore before="Mage_Adminhtml">Mirasvit_MstCore_Adminhtml</mstcore>
					</modules>
				</args>
			</adminhtml>
        </routers>
    </admin>
    <frontend>
       <translate>
            <modules>
                <Mirasvit_MstCore>
                    <files>
                        <default>Mirasvit_MstCore.csv</default>
                    </files>
                </Mirasvit_MstCore>
            </modules>
        </translate>
        <routers>
            <mstcore>
                <use>standard</use>
                <args>
                    <module>Mirasvit_MstCore</module>
                    <frontName>mstcore</frontName>
                </args>
            </mstcore>
        </routers>
    </frontend>
    <crontab>
        <jobs>
            <mstcore_logger_cron>
                <schedule>
                    <cron_expr>0 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>mstcore/logger::clean</model>
                </run>
            </mstcore_logger_cron>
        </jobs>
    </crontab>
    <default>
        <mstcore>
            <logger>
                <developer_ip>80.78.40.163</developer_ip>
            </logger>
        </mstcore>
    </default>
</config>