<?xml version="1.0" encoding="UTF-8"?>
<config>
    <tabs>
        <mstcore translate="label">
            <label>Mirasvit Extensions</label>
            <sort_order>1000</sort_order>
            <class>mstcore</class>
        </mstcore>
    </tabs>
    <sections>
        <mstcore>
            <label>System</label>
            <tab>mstcore</tab>
            <frontend_type>text</frontend_type>
            <sort_order>9999</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <extensions translate="label">
                    <label>Installed Extensions</label>
                    <frontend_type>text</frontend_type>
                    <frontend_model>mstcore/system_config_form_extensions</frontend_model>
                    <sort_order>5</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                </extensions>
                <logger translate="label">
                    <label>Mirasvit Extensions logging</label>
                    <frontend_model>mstcore/system_config_form_logger</frontend_model>
                    <sort_order>10</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <enabled translate="label">
                            <label>Enable</label>
                            <frontend_type>select</frontend_type>
                            <show_in_default>1</show_in_default>
                            <show_in_store>0</show_in_store>
                            <show_in_website>0</show_in_website>
                            <sort_order>90</sort_order>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                        </enabled>
                        <cron translate="label">
                            <label>Log Cron</label>
                            <frontend_type>select</frontend_type>
                            <show_in_default>1</show_in_default>
                            <show_in_store>0</show_in_store>
                            <show_in_website>0</show_in_website>
                            <sort_order>95</sort_order>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                        </cron>
                        <developer_ip translate="label">
                            <label>Developer IP</label>
                            <frontend_type>text</frontend_type>
                            <show_in_default>1</show_in_default>
                            <show_in_store>0</show_in_store>
                            <show_in_website>0</show_in_website>
                            <sort_order>100</sort_order>
                        </developer_ip>
                    </fields>
                </logger>
            </groups>
        </mstcore>
        <mstcore_store>
            <label></label>
            <tab>mstcore</tab>
            <class>mstcore-store</class>
            <frontend_type>text</frontend_type>
            <sort_order>10000</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <extensions translate="label">
                    <label>Mirasvit Extensions Store</label>
                    <frontend_type>text</frontend_type>
                    <frontend_model>mstcore/system_config_form_store</frontend_model>
                    <sort_order>2</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                </extensions>
            </groups>
        </mstcore_store>
    </sections>
</config>