<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Mirasvit_SearchLandingPage>
            <version>1.0.1</version>
        </Mirasvit_SearchLandingPage>
    </modules>
    <global>
        <models>
            <searchlandingpage>
                <class>Mirasvit_SearchLandingPage_Model</class>
                <resourceModel>searchlandingpage_resource</resourceModel>
            </searchlandingpage>

            <searchlandingpage_resource>
                <class>Mirasvit_SearchLandingPage_Model_Resource</class>
                <entities>
                    <page>
                        <table>m_searchlandingpage</table>
                    </page>
                    <page_store>
                        <table>m_searchlandingpage_store</table>
                    </page_store>
                </entities>
            </searchlandingpage_resource>
        </models>
        <helpers>
            <searchlandingpage>
                <class>Mirasvit_SearchLandingPage_Helper</class>
            </searchlandingpage>
        </helpers>
        <resources>
            <searchlandingpage_setup>
                <setup>
                    <module>Mirasvit_SearchLandingPage</module>
                </setup>
            </searchlandingpage_setup>
        </resources>
        <blocks>
            <searchlandingpage>
                <class>Mirasvit_SearchLandingPage_Block</class>
            </searchlandingpage>
        </blocks>
        <events>
            <controller_front_init_routers>
                <observers>
                    <searchlandingpage>
                        <class>Mirasvit_SearchLandingPage_Controller_Router</class>
                        <method>initControllerRouters</method>
                    </searchlandingpage>
                </observers>
            </controller_front_init_routers>
            <controller_front_send_response_before>
                <observers>
                    <searchlandingpage>
                        <class>Mirasvit_SearchLandingPage_Controller_Router</class>
                        <method>controllerFrontSendResponseBefore</method>
                    </searchlandingpage>
                </observers>
            </controller_front_send_response_before>
        </events>
    </global>
    <frontend>
        <routers>
            <searchlandingpage>
                <use>standard</use>
                <args>
                    <module>Mirasvit_SearchLandingPage</module>
                    <frontName>searchlandingpage</frontName>
                </args>
            </searchlandingpage>
        </routers>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
				<args>
					<modules>
						<searchlandingpage after="Mage_Adminhtml">Mirasvit_SearchLandingPage_Adminhtml</searchlandingpage>
					</modules>
				</args>
			</adminhtml>
        </routers>
    </admin>
</config>
