<?xml version="1.0"?>
<config>
  <modules>
    <Tabs_Extension>
      <version>0.1.0</version>
    </Tabs_Extension>
  </modules>
  <frontend>
    <routers>
      <extension>
        <use>standard</use>
          <args>
            <module>Tabs_Extension</module>
            <frontName>extension</frontName>
          </args>
      </extension>
    </routers>
    <layout>
      <updates>
      <extension>
        <file>tabsextension.xml</file>
      </extension>
      </updates>
    </layout>
  </frontend>
  <global>
    <helpers>
      <extension>
        <class>Tabs_Extension_Helper</class>
      </extension>
    </helpers>
  <blocks>
    <extension>
    <class>Tabs_Extension_Block</class>
    </extension>
  </blocks>
  </global>
</config> 