<?xml version="1.0"?>
<config>
    <modules>
        <Plumrocket_SocialLogin>
            <version>1.2.4</version>
        </Plumrocket_SocialLogin>
    </modules>
    <frontend>
        <routers>
            <pslogin>
                <use>standard</use>
                <args>
                    <module>Plumrocket_SocialLogin</module>
                    <frontName>pslogin</frontName>
                </args>
            </pslogin>
        </routers>
        <layout>
            <updates>
                <pslogin>
                    <file>pslogin.xml</file>
                </pslogin>
            </updates>
        </layout>
        <translate>
            <modules>
                <Plumrocket_SocialLogin>
                    <files>
                        <default>Plumrocket_SocialLogin.csv</default>
                    </files>
                </Plumrocket_SocialLogin>
            </modules>
        </translate>
        <secure_url>
            <pslogin>/pslogin/</pslogin>
        </secure_url>
    </frontend>
    <adminhtml>
        <layout>
            <updates>
                <pslogin>
                    <file>pslogin.xml</file>
                </pslogin>
            </updates>
        </layout>
        <translate>
            <modules>
                <Plumrocket_SocialLogin>
                    <files>
                        <default>Plumrocket_SocialLogin.csv</default>
                    </files>
                </Plumrocket_SocialLogin>
            </modules>
        </translate>
    </adminhtml>
    <global>
        <models>
            <pslogin>
                <class>Plumrocket_SocialLogin_Model</class>
                <resourceModel>pslogin_resource</resourceModel>
            </pslogin>
            <pslogin_resource>
                <class>Plumrocket_SocialLogin_Model_Mysql4</class>
                <entities>
                    <account>
                        <table>plumrocket_sociallogin_account</table>
                    </account>
                </entities>
            </pslogin_resource>
        </models>
        <helpers>
            <pslogin>
                <class>Plumrocket_SocialLogin_Helper</class>
            </pslogin>
        </helpers>
        <blocks>
			<pslogin>
				<class>Plumrocket_SocialLogin_Block</class>
			</pslogin>
            <page>
                <rewrite>
                    <html_welcome>Plumrocket_SocialLogin_Block_Page_Html_Welcome</html_welcome>
                </rewrite>
            </page>
            <page>
                <rewrite>
                    <html_header>Plumrocket_SocialLogin_Block_Page_Html_Header</html_header>
                </rewrite>
            </page>
		</blocks>
        <resources>
            <pslogin_setup>
                <setup>
                    <module>Plumrocket_SocialLogin</module>
                </setup>
            </pslogin_setup>
        </resources>
        <events>
            <controller_action_predispatch>
                <observers>
                    <pslogin_observer>
                        <type>singleton</type>
                        <class>pslogin/observer</class>
                        <method>controllerActionPredispatch</method>
                    </pslogin_observer>
                </observers>
            </controller_action_predispatch>
            <customer_login>
                <observers>
                    <pslogin_observer>
                        <type>singleton</type>
                        <class>pslogin/observer</class>
                        <method>customerLogin</method>
                    </pslogin_observer>
                </observers>
            </customer_login>
            <customer_register_success>
                <observers>
                    <pslogin_observer>
                        <type>singleton</type>
                        <class>pslogin/observer</class>
                        <method>customerRegisterSuccess</method>
                    </pslogin_observer>
                </observers>
            </customer_register_success>
            <customer_logout>
                <observers>
                    <pslogin_observer>
                        <type>singleton</type>
                        <class>pslogin/observer</class>
                        <method>customerLogout</method>
                    </pslogin_observer>
                </observers>
            </customer_logout>
        </events>
    </global>
    <default>
        <pslogin>
            <general>
                <enable_for_login>1</enable_for_login>
                <enable_for_register>1</enable_for_register>
                <validate_ignore>1</validate_ignore>
                <enable_photo>1</enable_photo>
                <redirect_for_login>__referer__</redirect_for_login>
                <redirect_for_register>__referer__</redirect_for_register>
            </general>
            <share>
                <enable>1</enable>
                <title>Please share us with your friends!</title>
                <description>Spread the word about this great Magento Store! Let everyone know about our great offers and everyday deals!</description>
                <page>2</page>
            </share>
            <facebook>
                <login_btn_text>Login with Facebook</login_btn_text>
                <register_btn_text>Register with Facebook</register_btn_text>
            </facebook>
            <twitter>
                <login_btn_text>Login with Twitter</login_btn_text>
                <register_btn_text>Register with Twitter</register_btn_text>
            </twitter>
        </pslogin>
    </default>
</config>