<?xml version="1.0"?>
<config>
    <modules>
        <VES_PdfProProcessor>
            <version>0.1.0</version>
        </VES_PdfProProcessor>
    </modules>
    <admin>
        <routers>
			<pdfprocessor>
				<use>admin</use>
				<args>
					<module>VES_PdfProProcessor</module>
					<frontName>pdfprocessor</frontName>
				</args>
			</pdfprocessor>
			<adminhtml>
				<args>
					<modules>
						<pdfprocessor before="Mage_Adminhtml">VES_PdfProProcessor</pdfprocessor>
					</modules>
				</args>
			</adminhtml>
        </routers>
    </admin>
    <adminhtml>
		<menu>
			<pdfpro>            
				<children>
					<pdfprocessor>
						<title>Sync PDF Templates</title>
						<sort_order>24</sort_order>
						<action>adminhtml/pdfpro_sync</action>
					</pdfprocessor>
				</children>
			</pdfpro>
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<pdfpro>        
							<children>
								<pdfprocessor module="pdfproprocessor">
									<title>PDF Processor</title>
								</pdfprocessor>
							</children>
						</pdfpro>
					</children>
				</admin>
			</resources>
		</acl>
		<events>
			<ves_pdfpro_config_version>
				<observers>
	                <pdfproprocessor>
	                    <class>pdfproprocessor/observer</class>
	                    <method>ves_pdfpro_config_version</method>
	                </pdfproprocessor>
	            </observers>
			</ves_pdfpro_config_version>
			<core_block_abstract_prepare_layout_before>
				<observers>
	                <pdfproprocessor>
	                    <class>pdfproprocessor/observer</class>
	                    <method>core_block_abstract_prepare_layout_before</method>
	                </pdfproprocessor>
	            </observers>
			</core_block_abstract_prepare_layout_before>
			<ves_pdfpro_apikey_form_prepare_after>
				<observers>
	                <pdfproprocessor>
	                    <class>pdfproprocessor/observer</class>
	                    <method>ves_pdfpro_apikey_form_prepare_after</method>
	                </pdfproprocessor>
	            </observers>
			</ves_pdfpro_apikey_form_prepare_after>
			<ves_pdfpro_apikey_form_save_before>
				<observers>
	                <pdfproprocessor>
	                    <class>pdfproprocessor/observer</class>
	                    <method>ves_pdfpro_apikey_form_save_before</method>
	                </pdfproprocessor>
	            </observers>
			</ves_pdfpro_apikey_form_save_before>
		</events>
	</adminhtml>
    <global>
    	<easypdf_processors>
    		<webserver>
    			<title>Local Processor</title>
    			<model>pdfproprocessor/processor</model>
    		</webserver>
    	</easypdf_processors>
		<blocks>
            <pdfproprocessor>
                <class>VES_PdfProProcessor_Block</class>
            </pdfproprocessor>
		</blocks>
        <models>
            <pdfproprocessor>
                <class>VES_PdfProProcessor_Model</class>
            </pdfproprocessor>
        </models>
        <resources>
            <pdfproprocessor_setup>
                <setup>
                    <module>VES_PdfProProcessor</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </pdfproprocessor_setup>
            <pdfproprocessor_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </pdfproprocessor_write>
            <pdfproprocessor_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </pdfproprocessor_read>
        </resources>
        <helpers>
            <pdfproprocessor>
                <class>VES_PdfProProcessor_Helper</class>
            </pdfproprocessor>
        </helpers>
    </global>
    <default>
	    <pdfpro>
	    	<pdfprocessor>
	    		<minify>1</minify>
	    		<dpi>96</dpi>
	    		<page_size>a4</page_size>
	    		<orientation>portrait</orientation>
	    	</pdfprocessor>
	    	<barcode>
				<symbology>BCGcode39</symbology>
				<thickness>38</thickness>
				<rotation>0</rotation>
				<font_family>Arial.ttf</font_family>
				<font_size>8</font_size>
				<dpi>96</dpi>
				<scale>1</scale>
				<checksum></checksum>
			</barcode>
			<qrcode>
				<level>L</level>
				<size>4</size>
			</qrcode>
	    </pdfpro>
    </default>
</config>