<?xml version="1.0"?>
<config>
    <sections>
        <pdfpro>
            <groups>
                <pdfprocessor>
                	<label>PDF Processor</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>11</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                    	<email>
                            <label>Email</label>
                            <frontend_type>text</frontend_type>
                            <frontend_class>required-entry validate-email</frontend_class>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment><![CDATA[Email account of you in <a href="http://www.easypdfinvoice.com">www.easypdfinvoice.com</a>]]></comment>
                        </email>
                        <password>
                            <label>Password</label>
                            <frontend_type>password</frontend_type>
                            <frontend_class>required-entry</frontend_class>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment><![CDATA[Password of your account in <a href="http://www.easypdfinvoice.com">www.easypdfinvoice.com</a>]]></comment>
                        </password>
                        <minify>
                        	<label>Minify PDF File Size</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </minify>
                        <page_size>
                        	<label>Page Size</label>
                            <frontend_type>select</frontend_type>
                            <source_model>pdfproprocessor/source_size</source_model>
                            <sort_order>35</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </page_size>
                        <orientation>
                        	<label>Orientation</label>
                            <frontend_type>select</frontend_type>
                            <source_model>pdfproprocessor/source_orientation</source_model>
                            <sort_order>45</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </orientation>
                        <!-- 
                        <dpi>
                        	<label>DPI</label>
                            <frontend_type>text</frontend_type>
                            <frontend_class>required-entry validate-number</frontend_class>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </dpi>
                         -->
                    </fields>
                </pdfprocessor>
                <barcode>
                	<label>Barcode Configuration</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>12</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                	<fields>
                		<symbology>
                        	<label>Symbology</label>
                            <frontend_type>select</frontend_type>
                            <source_model>pdfproprocessor/source_symbology</source_model>
                            <sort_order>10</sort_order> 
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </symbology>
                        <thickness>
                        	<label>Thickness</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>20</sort_order> 
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </thickness>
                        <rotation>
                        	<label>Rotation</label>
                            <frontend_type>select</frontend_type>
                            <source_model>pdfproprocessor/source_rotation</source_model>
                            <sort_order>30</sort_order> 
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </rotation>
                        <font_family>
                        	<label>Font Family</label>
                            <frontend_type>select</frontend_type>
                            <source_model>pdfproprocessor/source_font</source_model>
                            <sort_order>35</sort_order> 
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </font_family>
                        <font_size>
                        	<label>Font Size</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>40</sort_order> 
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </font_size>
                	</fields>
                </barcode>
                <qrcode>
                	<label>QRCode Configuration</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>12</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                	<fields>
                		<level>
                        	<label>EEC</label>
                            <frontend_type>select</frontend_type>
                            <source_model>pdfproprocessor/source_eec</source_model>
                            <sort_order>10</sort_order> 
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </level>
                        <size>
                        	<label>Size</label>
                            <frontend_type>select</frontend_type>
                            <source_model>pdfproprocessor/source_qrsize</source_model>
                            <sort_order>20</sort_order> 
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </size>
                    </fields>
                </qrcode>
			</groups>
        </pdfpro>
    </sections>
</config>