<?xml version="1.0"?>
<config>
    <modules>
        <Magestore_Adminneworderemail>
            <version>1.1.2</version>
        </Magestore_Adminneworderemail>
    </modules>
	<frontend>
		<events>
			<!-- <checkout_onepage_controller_success_action>
				<observers>
        			<adminneworderemail_onepage_checkout_success>
        				<type>singleton</type>
        				<class>adminneworderemail/observer</class>
        				<method>onepageCheckoutSuccess</method>
        			</adminneworderemail_onepage_checkout_success>
        		</observers>
			</checkout_onepage_controller_success_action> -->
            <sales_model_service_quote_submit_after>
				<observers>
        			<adminneworderemail_onepage_checkout_success>
        				<type>singleton</type>
        				<class>adminneworderemail/observer</class>
        				<method>onepageCheckoutSuccess</method>
        			</adminneworderemail_onepage_checkout_success>
        		</observers>
			</sales_model_service_quote_submit_after>
		</events>
	</frontend>
	<global>
        <models>
            <adminneworderemail>
                <class>Magestore_Adminneworderemail_Model</class>
            </adminneworderemail>
        </models>
        <resources>
            <adminneworderemail_setup>
                <setup>
                    <module>Magestore_Adminneworderemail</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </adminneworderemail_setup>
            <adminneworderemail_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </adminneworderemail_write>
            <adminneworderemail_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </adminneworderemail_read>
        </resources>
        <helpers>
            <adminneworderemail>
                <class>Magestore_Adminneworderemail_Helper</class>
            </adminneworderemail>
        </helpers>				
		<template>
			<email>
				<sales_email_order_admin_email_template translate="label" module="adminneworderemail">
					<label>New Order Admin Notification</label>
					<file>sales/order_new_admin.html</file>
					<type>html</type>
				</sales_email_order_admin_email_template>
			</email>
		</template>
    </global>
	<default>
		<sales_email>
			<order>
				<enabled>1</enabled>
				<admin_email_template>sales_email_order_admin_email_template</admin_email_template>
				<identity>sales</identity>
			</order>
		</sales_email>
	</default>
</config>