<?xml version="1.0"?>
<config>
    <modules>
        <Tentura_Ngroups>
            <version>2.0.4</version>
        </Tentura_Ngroups>
    </modules>
    <frontend>
        <routers>
            <ngroups>
                <use>standard</use>
                <args>
                    <module>Tentura_Ngroups</module>
                    <frontName>ngroups</frontName>
                </args>
            </ngroups>
        </routers>
        <layout>
            <updates>
                <ngroups>
                    <file>ngroups.xml</file>
                </ngroups>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <ngroups>
                <use>admin</use>
                <args>
                    <module>Tentura_Ngroups</module>
                    <frontName>ngroups</frontName>
                </args>
            </ngroups>
            <adminhtml>
                <args>
                    <modules>
                        <Tentura_Ngroups before="Mage_Adminhtml">Tentura_Ngroups_Adminhtml</Tentura_Ngroups>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <menu>
            <newsletter>
                <children>
                    <ngroups module="ngroups">
                        <title>Newsletter Users Groups</title>
                        <sort_order>71</sort_order>
                        <action>ngroups/adminhtml_ngroups</action>
                    </ngroups>
                </children>
            </newsletter>
        </menu>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <newsletter>
                            <children>
                                <ngroups module="ngroups">
                                    <title>Newsletter Users Groups</title>
                                </ngroups>
                            </children>
                        </newsletter>
                    </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <ngroups>
                    <file>ngroups.xml</file>
                </ngroups>
            </updates>
        </layout>
        <translate>
            <modules>
                <Tentura_Ngroups>
                    <files>
                        <default>Tentura_Ngroups.csv</default>
                    </files>
                </Tentura_Ngroups>
            </modules>
        </translate>
        <events>
            <newsletter_subscriber_save_before>
                <observers>
                    <ngroups_newsletter_subscriber_save_before>
                        <type>singleton</type>
                        <class>ngroups/observer</class>
                        <method>setSubscriberStore</method>
                    </ngroups_newsletter_subscriber_save_before>
                </observers>
            </newsletter_subscriber_save_before>
        </events>
    </adminhtml>   
    <global>
    	
<!--         <rewrite> -->
<!--             <ngroups_adminhtml_newsletter_queue> -->
<!--                 <from><![CDATA[#^/admin/newsletter_queue/#]]></from> -->
<!--                 <to>/ngroups/adminhtml_newsletter_queue/</to> -->
<!--             </ngroups_adminhtml_newsletter_queue> -->
<!--         </rewrite> -->
        <models>
            <newsletter_mysql4>
                <rewrite>
                    <queue>Tentura_Ngroups_Model_Mysql4_Queue</queue>
                </rewrite>
            </newsletter_mysql4>
            <newsletter>
                <rewrite>
                    <subscriber>Tentura_Ngroups_Model_Subscriber</subscriber>
                </rewrite>
            </newsletter>
            <ngroups>
                <class>Tentura_Ngroups_Model</class>
                <resourceModel>ngroups_mysql4</resourceModel>
            </ngroups>
            <ngroups_mysql4>
                <class>Tentura_Ngroups_Model_Mysql4</class>
                <entities>
                    <ngroups>
                        <table>ngroups</table>
                    </ngroups>
                    <ngroupitems>
                        <table>ngroups_items</table>
                    </ngroupitems>
                </entities>
            </ngroups_mysql4>
        </models>
        <resources>
            <ngroups_setup>
                <setup>
                    <module>Tentura_Ngroups</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </ngroups_setup>
            <ngroups_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </ngroups_write>
            <ngroups_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </ngroups_read>
        </resources>
        <blocks>
            <ngroups>
                <class>Tentura_Ngroups_Block</class>
            </ngroups>
            <adminhtml>
                <rewrite>
                    <!--<newsletter_template_edit_form>Tentura_Ngroups_Block_Adminhtml_Newsletter_Template_Edit_Form</newsletter_template_edit_form>-->
                    <newsletter_subscriber_grid>Tentura_Ngroups_Block_Adminhtml_Newsletter_Subscriber_Grid</newsletter_subscriber_grid>
                    <newsletter_queue_edit_form>Tentura_Ngroups_Block_Adminhtml_Newsletter_Queue_Edit_Form</newsletter_queue_edit_form>
                </rewrite>
            </adminhtml>
        </blocks>
        <helpers>
            <ngroups>
                <class>Tentura_Ngroups_Helper</class>
            </ngroups>
        </helpers>
    </global>
</config>