<?xml version="1.0" encoding="UTF-8"?>
<!-- 
/**
 * @category   Auguria
 * @package    Auguria_Sliders
 * @author     Auguria
 * @license    http://opensource.org/licenses/gpl-3.0.html GNU General Public License version 3 (GPLv3)
 */
 -->
<config>
	<modules>
		<Auguria_Sliders>
			<version>1.0.3</version>
		</Auguria_Sliders>
	</modules>
	<frontend>
		<layout>
			<updates>
				<auguria_sliders>
					<file>auguria/sliders.xml</file>
				</auguria_sliders>
			</updates>
		</layout>
        <translate>
            <modules>
                <Auguria_Sliders>
                    <files>
                        <default>Auguria_Sliders.csv</default>
                    </files>
                </Auguria_Sliders>
            </modules>
        </translate>
	</frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <auguria_sliders before="Mage_Adminhtml">Auguria_Sliders_Adminhtml</auguria_sliders>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>    
    <adminhtml>
        <translate>
            <modules>
                <Auguria_Sliders>
                    <files>
                        <default>Auguria_Sliders.csv</default>
                    </files>
                </Auguria_Sliders>
            </modules>
        </translate>
        <layout>
            <updates>
                <auguria_sliders>
                    <file>auguria/sliders.xml</file>
                </auguria_sliders>
            </updates>
        </layout>
    </adminhtml>
    <global>
        <blocks>
            <auguria_sliders>
                <class>Auguria_Sliders_Block</class>
            </auguria_sliders>
        </blocks>
        <models>
            <auguria_sliders>
                <class>Auguria_Sliders_Model</class>
                <resourceModel>auguria_sliders_mysql4</resourceModel>
            </auguria_sliders>      
            <auguria_sliders_mysql4>
                <class>Auguria_Sliders_Model_Mysql4</class>
                <entities>
                    <sliders>
                        <table>auguria_sliders</table>
                    </sliders>
                    <stores>
                        <table>auguria_sliders_stores</table>
                    </stores>
                    <pages>
                        <table>auguria_sliders_pages</table>
                    </pages>
                    <categories>
                        <table>auguria_sliders_categories</table>
                    </categories>
                </entities>
            </auguria_sliders_mysql4>
        </models>            
        <helpers>
            <auguria_sliders>
                <class>Auguria_Sliders_Helper</class>
            </auguria_sliders>
        </helpers>
		<resources>
			<auguria_sliders_setup>
				<setup>
					<module>Auguria_Sliders</module>
                </setup>
                <connection>
                    <use>core_setup</use>
				</connection>
			</auguria_sliders_setup> 
            <auguria_sliders_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </auguria_sliders_write>
            <auguria_sliders_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </auguria_sliders_read>
    	</resources>
    </global>
    <default>
		<auguria_sliders>
			<general>
				<enabled>1</enabled>
				<preload>false</preload>
				<generate_next_prev>true</generate_next_prev>
				<generate_pagination>true</generate_pagination>
				<fade_speed>350</fade_speed>
				<slide_speed>350</slide_speed>
				<!-- <fadeEasing></fadeEasing><slideEasing></slideEasing> @TODO install library-->
				<effect_next_prev>slide</effect_next_prev>
				<effect_pagination>slide</effect_pagination>
				<crossfade>false</crossfade>
				<randomize>false</randomize>
				<play>3000</play>
				<pause>350</pause>
				<hover_pause>false</hover_pause>
				<auto_height>false</auto_height>
				<auto_height_speed>350</auto_height_speed>
				<animate_caption>200</animate_caption>
				<empty_caption_height>70</empty_caption_height>
				<one_caption_height>70</one_caption_height>
				<two_caption_height>70</two_caption_height>
				<three_caption_height>70</three_caption_height>
				
				<empty_image_height>394</empty_image_height>
				<one_image_height>394</one_image_height>
				<two_image_height>300</two_image_height>
				<three_image_height>200</three_image_height>
				
				<empty_image_width>900</empty_image_width>
				<one_image_width>900</one_image_width>
				<two_image_width>685</two_image_width>
				<three_image_width>455</three_image_width>
			</general>
		</auguria_sliders>
    </default>   
</config>