<?xml version="1.0"?>
<config>
  <modules>
    <AjaxNewsletter_Ajaxnewsletter>
      <version>0.1.0</version>
    </AjaxNewsletter_Ajaxnewsletter>
  </modules>
  <frontend>
    <routers>
      <ajaxnewsletter>
        <use>standard</use>
          <args>
            <module>AjaxNewsletter_Ajaxnewsletter</module>
            <frontName>ajaxnewsletter</frontName>
          </args>
      </ajaxnewsletter>
    </routers>
		<layout>
		  <updates>
			<ajaxnewsletter>
			  <file>ajaxnewsletter.xml</file>
			</ajaxnewsletter>
		  </updates>
		</layout>
  </frontend>
  <global>
    <helpers>
      <ajaxnewsletter>
        <class>AjaxNewsletter_Ajaxnewsletter_Helper</class>
      </ajaxnewsletter>
    </helpers>
	<blocks>
	  <ajaxnewsletter>
		<class>AjaxNewsletter_Ajaxnewsletter_Block</class>
	  </ajaxnewsletter>
	</blocks>
  </global>
</config> 