<?xml version="1.0"?>
<config>
    <modules>
        <Fetchr_Shipping>
            <version>0.1.0</version>
        </Fetchr_Shipping>
    </modules>
     <global>
        <models>
            <fetchr_shipping>
                <class>Fetchr_Shipping_Model</class>
            </fetchr_shipping>
            <shipping>
                <rewrite>
                    <shipping>Fetchr_Shipping_Model_Shipping</shipping>
                </rewrite>
            </shipping>
        </models>
        <helpers>
            <fetchr_shipping>
                <class>Fetchr_Shipping_Helper</class>
            </fetchr_shipping>
        </helpers>
        <events>
            <sales_order_place_after>
                <observers>
                    <fetchr_shipping>
                        <type>singleton</type>
                        <class>fetchr_shipping/observer</class>
                        <method>getCODTrackingNo</method>
                    </fetchr_shipping>
                </observers>
            </sales_order_place_after>
            <sales_order_invoice_pay>
                <observers>
                    <fetchr_shipping>
                        <type>singleton</type>
                        <class>fetchr_shipping/observer</class>
                        <method>getCCTrackingNo</method>
                    </fetchr_shipping>
                </observers>
            </sales_order_invoice_pay>
            <sales_order_shipment_save_after>
                <observers>
                    <fetchr_shipping>
                        <type>singleton</type>
                        <class>fetchr_shipping/observer</class>
                        <method>pushOrderAfterShipmentCreation</method>
                    </fetchr_shipping>
                </observers>
            </sales_order_shipment_save_after>
        </events>
    </global>
    <admin>
        <routers>
            <fetchr_shipping>
                <use>admin</use>
                <args>
                    <module>Fetchr_Shipping</module>
                    <frontName>fetchr</frontName>
                </args>
            </fetchr_shipping>
        </routers>
    </admin>
    <crontab>
        <jobs>
            <order_status_update>
                <schedule>
                    <config_path>fetchr_shipping/settings/order_status_update</config_path>
                </schedule>
                <run>
                    <model>fetchr/ship_bulkstatus::run</model>
                </run>
            </order_status_update>
        </jobs>
    </crontab>
    <default>
        <carriers>
            <fetchr>
                <active>1</active>
                <model>fetchr_shipping/carrier</model>
                <title>Fetchr</title>
                <sort_order>10</sort_order>
                <price>10.00</price>
                <!-- <sallowspecific>0</sallowspecific> -->
            </fetchr>
        </carriers>
        <fetchr_shipping>
            <settings>
                <liveurl>http://menavip.com</liveurl>
                <stagingurl>http://dev.menavip.com</stagingurl>
                <order_status_update>* * * * *</order_status_update>
            </settings>
        </fetchr_shipping>
    </default>
</config>