<?xml version="1.0"?>
<config>
    <modules>
        <FreeLunchLabs_SendGrid>
            <version>1.0.0</version>
        </FreeLunchLabs_SendGrid>
    </modules>
    <global>
        <models>
            <freelunchlabs_sendgrid>
                <class>FreeLunchLabs_SendGrid_Model</class>
            </freelunchlabs_sendgrid>
            <core>
                <rewrite>
                    <email_template>FreeLunchLabs_SendGrid_Model_Email_Template</email_template>
                </rewrite>
            </core>
        </models>
        <helpers>
            <sendgrid>
                <class>FreeLunchLabs_SendGrid_Helper</class>
            </sendgrid>
        </helpers>
        <blocks>
            <freelunchlabs_sendgrid>
                <class>FreeLunchLabs_SendGrid_Block</class>
            </freelunchlabs_sendgrid>
        </blocks>
    </global>
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <sendgrid translate="title" module="sendgrid">
                                            <title>SendGrid Configuration</title>
                                            <sort_order>50</sort_order>
                                        </sendgrid>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <default>
        <sendgrid>
            <general>
                <active>0</active>
            </general>
        </sendgrid>
    </default>
</config>