<?xml version="1.0" encoding="UTF-8"?>
<config>
  <modules>
    <Evopin_Checkoutcom>
      <version>0.0.1</version>
    </Evopin_Checkoutcom>
  </modules>
  <global>
    <models>
      <checkoutcom>
        <class>Evopin_Checkoutcom_Model</class>
        <resourceModel>checkoutcom_mysql4</resourceModel>
      </checkoutcom>
      <checkoutcom_mysql4>
        <class>Evopin_Checkoutcom_Model_Mysql4</class>
        <entities>
          <checkoutcom_debug><table></table></checkoutcom_debug>
        </entities>
      </checkoutcom_mysql4>
    </models>
    <resources>
      <checkoutcom_setup>
        <setup>
          <module>Evopin_Checkoutcom</module>
        </setup>
        <connection>
          <use>core_setup</use>
        </connection>
      </checkoutcom_setup>
      <checkoutcom_write>
        <connection>
          <use>core_write</use>
        </connection>
      </checkoutcom_write>
      <checkoutcom_read>
        <connection>
          <use>core_read</use>
        </connection>
      </checkoutcom_read>
    </resources>
    <helpers>
      <checkoutcom>
        <class>Evopin_Checkoutcom_Helper</class>
      </checkoutcom>
    </helpers>
    <blocks>
      <checkoutcom>
       <class>Evopin_Checkoutcom_Block</class>
     </checkoutcom>
   </blocks>
 </global>
 <default>
  <payment>
    <checkoutcom>
      <active>0</active>
      <model>checkoutcom/payment</model>
      <order_status>pending</order_status>
      <title>Checkout.com payment gateway</title>
      <user_name>demo</user_name>
      <password>demo</password>
      <cctypes>VI,MC</cctypes>
      <payment_action>authorize</payment_action>
      <order_status>1</order_status>
      <gateway_url>http://test.checkoutcom.com/SmartPayments/transact.asmx/ProcessCreditCard</gateway_url>
    </checkoutcom>
  </payment>
</default>
</config>
