<?xml version="1.0"?>
<config>
    <modules>
        <Magestore_Fblogin>
            <version>0.1.6</version>
        </Magestore_Fblogin>
    </modules>
    <frontend>
        <routers>
            <fblogin>
                <use>standard</use>
                <args>
                    <module>Magestore_Fblogin</module>
                    <frontName>fblogin</frontName>
                </args>
            </fblogin>
        </routers>
        <layout>
            <updates>
                <fblogin>
                    <file>fblogin.xml</file>
                </fblogin>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<fblogin>
				<use>admin</use>
				<args>
					<module>Magestore_Fblogin</module>
					<frontName>fblogin</frontName>
				</args>
			</fblogin>
        </routers>
    </admin>
    <adminhtml>
		<layout>
			<updates>
				<fblogin>
					<file>fblogin.xml</file>
				</fblogin>
			</updates>
		</layout>
		<events>
			<controller_action_predispatch_adminhtml>
				<observers>
					<magestore_facebooklogin_observer>
						<type>singleton</type>
						<class>fblogin/observer</class>
						<method>controller_action_predispatch_adminhtml</method>
					</magestore_facebooklogin_observer>
		       </observers>				
			</controller_action_predispatch_adminhtml>
		</events>		
    </adminhtml>   
    <global>
        <models>
            <fblogin>
                <class>Magestore_Fblogin_Model</class>
                <resourceModel>fblogin_mysql4</resourceModel>
            </fblogin>
            <fblogin_mysql4>
                <class>Magestore_Fblogin_Model_Mysql4</class>
                <entities>
                    <fblogin>
                        <table>fblogin</table>
                    </fblogin>
                </entities>
            </fblogin_mysql4>
        </models>
        <resources>
            <fblogin_setup>
                <setup>
                    <module>Magestore_Fblogin</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </fblogin_setup>
            <fblogin_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </fblogin_write>
            <fblogin_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </fblogin_read>
        </resources>
        <blocks>
            <fblogin>
                <class>Magestore_Fblogin_Block</class>
            </fblogin>
        </blocks>
        <helpers>
            <fblogin>
                <class>Magestore_Fblogin_Helper</class>
            </fblogin>
        </helpers>
    </global>
	
	<default>
		<fblogin>
			<general>
				<format_password>1</format_password>
				<password_length>8</password_length>
				<is_send_password_to_customer>1</is_send_password_to_customer>
				<not_connected_template><![CDATA[You're not login to Facebook. <br>Click the button below to login to {{store}}]]></not_connected_template>
				<connected_template><![CDATA[{{user}} has connected to {{store}}. <br>Click the button below to login to {{store}}]]></connected_template>
				<is_show_avatar>1</is_show_avatar>
			</general>
		</fblogin>
	</default>
</config>