<?xml version="1.0"?>
<!-- 
/**
 * MageWorx
 * Admin Order Editor extension
 *
 * @category   MageWorx
 * @package    MageWorx_OrdersEdit
 * @copyright  Copyright (c) 2015 MageWorx (http://www.mageworx.com/)
 */
-->
<config>
    <sections>
        <mageworx_ordersmanagement translate="label" module="mageworx_ordersedit">
            <label>Order Management</label>
            <tab>mageworx</tab>
            <frontend_type>text</frontend_type>
            <sort_order>600</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <ordersedit translate="label">
                    <label>Admin Order Editor</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>100</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <enabled translate="label">
                            <label>Enable</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </enabled>

                        <hide_edit_button translate="label">
                            <label>Hide edit button</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>13</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </hide_edit_button>

                        <enable_shipping_price_edition translate="label">
                            <label>Enable Shipping Price Editing</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>15</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </enable_shipping_price_edition>

                        <enabled_menu_orders translate="label">
                            <label>enabled_menu_orders</label>
                            <frontend_type>hidden</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>199</sort_order>
                            <show_in_default>0</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </enabled_menu_orders>

                        <show_thumbnails translate="label">
                            <label>Show Thumbnails</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>220</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </show_thumbnails>

                        <thumbnail_height translate="label">
                            <label>Thumbnail Height</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>230</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <validate>validate-digits validate-not-negative-number</validate>
                            <comment><![CDATA[pixels]]></comment>
                        </thumbnail_height>

                        <send_update_email translate="label comment">
                            <label>Send Update Email</label>
                            <comment>The modified email can be sent to both an admin and a customer, admin only, or neither of the two.</comment>
                            <frontend_type>select</frontend_type>
                            <source_model>mageworx_ordersedit/system_config_source_orders_notify</source_model>
                            <sort_order>240</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </send_update_email>

                        <show_all_states_in_history translate="label comment">
                            <label>Display All Order Statuses in the Comments</label>
                            <comment>If enabled, all available order statuses will be shown in the status drop-down in the order comments.</comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>250</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </show_all_states_in_history>
                    </fields>
                </ordersedit>
            </groups>
        </mageworx_ordersmanagement>
    </sections>
</config>
